---

import {Image} from 'astro:assets'

import laptop from '../../assets/laptop.jpg'

const lang = getLangFromUrl(Astro.url);
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const t = useTranslations(lang);

---


  <div class='w-full h-[500px] bg' >
    <div class='w-full h-full '>
      

      <div class="flex flex-col items-center justify-center z-20 pt-52">
        <h1 class="top-0 font-bold text-5xl text-white z-20 ">{t('nav.portfolio')}</h1>
      
        <ul class=" font-bold text-base text-white  flex justify-center items-center gap-5">
            <li class="font-bold text-xl text-white z-20"><a href="/">{t('nav.home')}</a></li>
            <li class="font-bold text-xl text-white z-20 relative">•</li>
            <li class="font-bold text-xl text-white z-20 whitespace-nowrap">{t('nav.portfolio')}</li>
          </ul>
      </div>

    </div>
       <div class="absolute bg-black/20 h-full w-full z-10" style="transform: translate(-50%, -50%); left: 50%; top: 50%;"></div>
   
</div>
</div>

<style>
.bg {
    background-image: url('../../assets/laptop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index:10
    }
  
    .bg::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; /* Change height to 100% to cover the entire background */
      opacity: 0.6;
      background-color: black;
      transition: opacity 0.5s ease;
    }
</style>