---
import CompanyValues from '../components/CompanyValues.astro';
import TimelineComponent from '../components/TimelineComponent.jsx';
import Gallery from '../components/Gallery.astro';
import TLswiper from '../components/TLswiper.astro';
import TimeLine from '../components/TimeLine.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import 'astro-breadcrumbs/breadcrumbs.css';
import AboutHero from '../components/AboutHero.astro';
import Team from '../components/Team.astro';
import AboutTehnologies from '../components/AboutTehnologies.astro';
import AboutCert from '../components/AboutCert.astro';


---

<BaseLayout>
    <AboutHero/>
    <!-- <Gallery/>  -->

    <AboutTehnologies/>
    <div class="py-20">
<AboutCert/>
</div>
<TimelineComponent client:load/>
<Team/>


 </div>
	
</div>


</BaseLayout> 
