---
import CompanyValues from '../components/CompanyValues.astro';
import CounterComponent from '../components/Counters.jsx';
import Gallery from '../components/Gallery.astro';
import TLswiper from '../components/TLswiper.astro';
import TimeLine from '../components/TimeLine.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import 'astro-breadcrumbs/breadcrumbs.css';


---

<BaseLayout>

<TLswiper/>
 <Gallery/> 

 </div>
	
</div>


</BaseLayout> 
