---
import TLswiper from "../components/TLswiper.astro";
import TimelineComponent from "../components/TimelineComponent";
import BaseLayout from "../layouts/BaseLayout.astro";

---
<BaseLayout>
  <div>
    <div class=" max-w-lg mx-auto text-center  flex flex-col justify-center items-center ">
      <h2>
          Otvoreni natječaji
      </h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente veniam molestias repellendus animi. Perferendis totam in ratione! Aliquid laudantium, omnis totam ducimus atque sunt? Animi iusto perferendis fuga officiis et.</p>
    </div>
    <div class="grid grid-cols-2 gap-y-3 justify-center items-center mx-">
    <div class="shadow-lg max-w-md p-4 bg-gray-800 rounded-md">
      <h4 class="font-semibold text-gray-100">Dizajner</h4>
      <p class="flex items-center mt-2 text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        
        <strong >Zagreb</strong>
      </p>
      <div class="mt-2">
        <p class="text-gray-100">Puno radno vrijeme</p>
      </div>
      <button class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
        Prijavi se
      </button>
    </div>
    <div class="shadow-lg max-w-md p-4 bg-gray-800 rounded-md">
      <h4 class="font-semibold text-gray-100">Dizajner</h4>
      <p class="flex items-center mt-2 text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        
        <strong >Zagreb</strong>
      </p>
      <div class="mt-2">
        <p class="text-gray-100">Puno radno vrijeme</p>
      </div>
      <button class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
        Prijavi se
      </button>
    </div>
   
    <div class="shadow-lg max-w-md p-4 bg-gray-800 rounded-md">
      <h4 class="font-semibold text-gray-100">Dizajner</h4>
      <p class="flex items-center mt-2 text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        
        <strong >Zagreb</strong>
      </p>
      <div class="mt-2">
        <p class="text-gray-100">Puno radno vrijeme</p>
      </div>
      <button class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
        Prijavi se
      </button>
    </div>
    <div class="shadow-lg max-w-md p-4 bg-gray-800 rounded-md">
      <h4 class="font-semibold text-gray-100">Dizajner</h4>
      <p class="flex items-center mt-2 text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        
        <strong >Zagreb</strong>
      </p>
      <div class="mt-2">
        <p class="text-gray-100">Puno radno vrijeme</p>
      </div>
      <button class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
        Prijavi se
      </button>
    </div>
  </div>

  </div>
  
</BaseLayout>