<div class="container">
    <h1>
        <span>reveal</span>
    </h1>
</div>

<style>
    .container {
  padding: 100px 20px 0;
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 200px;
  overflow: hidden;
  line-height: 1;
}
h1 span {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
</style>