---
import about from '../../assets/about-ilustration.svg'
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';

let lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


---
<!-- About Section with Enhanced Percentage Display -->
<div class="bg-gray-200 pt-20 py-20 lg:px-20 px-5 ">
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-x-20 justify-items-center bg-gray-200">

    <!-- Text Content -->
    <div>
      <!-- About Title and Description -->
      <div class="py-5">
        <p class="text-green-500 text-left font-bold text-lg md:text-2xl">{t('about.company.headline')}</p>
        <h2 class="text-left font-bold py-3 text-4xl md:text-4xl leading-[50px]">{t('about.company.subheadline')}</h2>
        <p class="text-xl ">{t('about.company.parag')}</p>
      </div>

      <!-- Enhanced Percentage Display -->
      <div class="space-y-4 bg-gray-200 pb-14 w-full">
         <p class="mb-4 text-xl">{t('about.company.paragraf1')}</p>
          <ul class="list-disc ml-6 mb-4 text-xl">
              <li>{t('about.company.li1')}</li>
              <li>{t('about.company.li2')}</li>
              <li>{t('about.company.li3')}</li>
              <li>{t('about.company.li4')}</li>
          </ul>
          <p class="mb-4 text-xl">{t('about.company.paragraf2')}</p>
    
      </div>

      <!-- Call to Action Button -->
      <div class="py-8">
        <button class="bg-green-600 whitespace-nowrap text-white hover:bg-green-700 duration-300 text-lg px-6 py-2 rounded-md md:text-xl md:px-8 md:py-3  max-w-[16rem]">{t('button.learn')}</button>
      </div>
    </div>

    <!-- Image Section -->
    <div class="w-2/3 flex">
      <img src={about.src} alt="about image" class="w-full" />
    </div>

  </div>
</div>
