---
import Img from "../assets/g2.svg";
import img2 from "../assets/g8.svg";
import img3 from "../assets/meetUs.svg";

import { Image } from "astro:assets";
---
<section class="overflow-hidden pb-12">
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-center">
      <div class="w-full lg:w-6/12 lg:border-l-2">
        <div class="flex items-center -mx-3 sm:-mx-4">
          <div class="w-full px-3 sm:px-4 lg:px-3 xl:w-1/2 p-5">
            <div class="py-3 sm:py-4">
              <Image src={img2} alt="" class="w-full rounded-2xl">
            </div>
            <div class="py-3 sm:py-4">
              <Image src={img3} alt="" class="w-full rounded-2xl">
            </div>
          </div>
          <div class="w-full px-3 sm:px-4 lg:px-3 xl:w-1/2">
            <div class="relative z-10 my-4">
              <Image src={Img} alt="" class="w-full rounded-2xl" >
            </div>
          </div>
        </div>
        <div class="text-center max-w-2xl mx-auto p-2">
          <h1 class="text-5xl  lg:text-8xl font-bold mb-5 dark:text-gray-100 text-gray-800 lg:text-center pt-2">
            O nama
          </h1>
          
          <div class="text-center mb-10 ">
            <span class="inline-block w-12 h-1 rounded-full bg-green-500 ml-1"></span>
            <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
            <span class="inline-block lg:w-40 h-1 rounded-full bg-green-500"></span>
            <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
            <span class="inline-block w-12 h-1 rounded-full bg-green-500 ml-1"></span>
          </div>
        </div>
        <h3 class="text-base  lg:text-lg  mb-5 font-light text-left max-w-2xl md:pl-8 text-gray-900 dark:text-gray-100">
          Naš tim iskusnih IT inženjera i voditelja projekata usko surađuje s svakim klijentom kako bismo osigurali isporuku softverskih rješenja usklađenih s njihovim ciljevima, potrebama i zahtjevima. Vjerujemo u izgradnju dugoročnih odnosa s našim klijentima, a mnogi od njih već dugi niz godina surađuju s nama. S ponosom ističemo priznanje među četiri najveće hrvatske banke i Ericssona kao naših najvećih klijenata. Od osnutka 2014. godine stekli smo reputaciju izvrsnosti te pomogli brojnim tvrtkama u različitim industrijama postići uspjeh putem tehnologije. Naša ekspertiza obuhvaća razvoj projekata u području telekomunikacija i bankarstva, računalstvo u 'cloudu' te druge prilagođene projekte, koristeći cijeli niz tehnologija, od Java-e do web dizajna, uz certifikate IBM-a i Oraclea koje posjeduju naši inženjeri
        </h3>
      </div>
      <div class="w-full lg:w-1/2 p-2">
        <div class="mt-10 lg:mt-0">
          <div class="text-center">
            <div class="text-center max-w-xl mx-auto lg:border-b-2 lg:pb-10">
              <h1 class="text-5xl lg:text-8xl font-bold mb-5 dark:text-gray-100 text-gray-800 lg:text-center pt-2">
                Vizija poslovanja
              </h1>
            </div>
          </div>
        </div>
        <h3 class="text-base lg:text-lg mb-5 font-light text-left lg:pt-10 text-gray-900 dark:text-gray-100">
          U Digital Areni strastveni smo u korištenju
tehnologija za poticanje poslovnog rasta i inovacija.
Kao softverska agencija s punom uslugom, specijalizirani smo za
stvaranje prilagođenih rješenja koja zadovoljavaju zahtjeve naših klijenata
jedinstvene potrebe, bilo da se radi o racionalizaciji
procese, poboljšanje korisničkih iskustava ili
povećanje prihoda.
        </h3>
        <p class="text-green-500 italic">Digitalna rješenja po pristupačnim cijenama</p>
      </div>
    </div>
  </div>
</section>
