---
import g5 from '../assets/g5.svg'
import { Image } from 'astro:assets';
---

          
          <div
          class="mx-auto flex flex-col items-center gap-6 sm:w-4/5 md:w-full md:flex-row lg:gap-12"
        >
          <div class="relative md:w-1/2">
            <div
              aria-hidden="true"
              class="absolute inset-0 m-auto grid h-3/5 w-3/5 grid-cols-2 -space-x-52 opacity-40 dark:opacity-60"
            >
              <div
                class="h-full rounded-full bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"
              >
              </div>
              <div
                class="h-full bg-gradient-to-r from-cyan-400 to-primary blur-[106px] dark:to-indigo-600"
              >
              </div>
            </div>
            <Image
              class="relative"
              src={g5}
              alt="stats illustration"
              width="1746"
              height="1746"
            />
                   </div>
          <div class="ml-auto h-full md:w-1/2">
            <h3 class="text-2xl font-bold text-gray-900 dark:text-white md:text-3xl lg:text-4xl">
                Otkrijte Naše Napredne Rješenja
              </h3>
              <p class="my-12 text-gray-600 dark:text-gray-300">
                U sklopu Digital Arene, predvodimo na području IT-a, ICT infrastrukture, usklađenosti s GDPR-om, energetike i ISO standardima. Naša rješenja idu iznad uobičajenog, pružajući vam inovativne i sigurne usluge koje će potaknuti vašu digitalnu transformaciju. Naša posvećenost izvrsnosti jamči da vaš posao uspješno posluje u digitalnom dobu. <br />
                <br /> Otkrijte mogućnosti s Digital Arenom danas.
              </p>
              
        </div>
      </div>
    </div>