---
import g5 from '../assets/g5.svg'
import { Image } from 'astro:assets';
---
          
          <div
          class="mx-auto flex flex-col items-center gap-6 sm:w-4/5 md:w-full md:flex-row lg:gap-12"
        >
          <div class="relative md:w-1/2">
            <div
              aria-hidden="true"
              class="absolute inset-0 m-auto grid h-3/5 w-3/5 grid-cols-2 -space-x-52 opacity-40 dark:opacity-60"
            >
              <div
                class="h-full rounded-full bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"
              >
              </div>
              <div
                class="h-full bg-gradient-to-r from-cyan-400 to-primary blur-[106px] dark:to-indigo-600"
              >
              </div>
            </div>
            <Image
              class="relative"
              src={g5}
              alt="stats illustration"
              width="1746"
              height="1746"
            />
                   </div>
                   <div class="text-center w-full md:w-1/2">
                    <h1 class="text-3xl lg:text-6xl  mx-auto md:text-5xl font-bold dark:text-white text-gray-700 relative">
                      Otkrijte naša napredna riješenja
                  </h1>
                  <div class="text-center mb-10">
                    <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                    <span class="inline-block w-40 h-1 rounded-full bg-green-500"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                    <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                  </div>
                  <p class="mt-4 text-left text-gray-600 dark:text-gray-300 text-base">
                    Nudimo usluge IT outsourcinga i razvijamo IT projekte. Trenutno surađujemo s PBZ-om, Addiko Bankom, Raiffeisenom, 
                    Zagrebačkom Bankom, CROZ-om , Ericsson-Nikolom Teslom, te smo završili nekoliko manjih projekata za Hrvatsku nacionalnu televiziju i Poštu.
                    Stekli smo  obilno iskustvo u području telekomunikacija i bankarstva, no istinski pokrivamo cijeli spektar IT usluga. <br /><br />
                    Otkrijte mogućnosti s Digital Arenom danas.
                  </p>
                  <button class="bg-green-500 flex text-white px-3 py-1 mt-4 rounded-lg"> <a href="projects">Pogledaj više</a></button>
                </div>
      </div>
    </div>


