<div class="bg-gray-800 my-5 flex items-center justify-center p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12">
    <div class="w-full">
        <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold text-white mb-4">Što cijenimo ?</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class="flex flex-col items-center">
                <i class="fas fa-shield-alt text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Integritet</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Održavanje najviših etičkih standarda u svim radnjama i odlukama. To uključuje iskrenost, transparentnost i pouzdanost u svim interakcijama s kupcima, zaposlenicima i partnerima.</p>
            </div>
            <div class="flex flex-col items-center">
                <i class="fas fa-lightbulb text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Inovacije</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Neprestano traženje kreativnih rješenja, guranje granica i poticanje kulture inovacija. Prihvaćanje promjene i novih tehnologija kako bi se ostalo na čelu industrije.</p>
            </div>
            <div class="flex flex-col items-center">
                <i class="fas fa-users text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Orijentiranost prema klijentu</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Stavljanje klijenta u središte svih operacija i nastojanje da se premašuju njihova očekivanja. Pružanje izvanredne usluge i proizvoda koji zadovoljavaju njihove potrebe.</p>
            </div>
            <div class="flex flex-col items-center">
                <i class="fas fa-hands-helping text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Timski rad</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Poticanje suradničkog i podržavajućeg radnog okruženja u kojem zaposlenici harmonično surađuju, poštujući raznolikost i cijeneći doprinose drugih.</p>
            </div>
            <div class="flex flex-col items-center">
                <i class="fas fa-leaf text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Održivost</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Posvećenost ekološkoj odgovornosti, smanjenju ugljičnog otiska tvrtke i pozitivnom doprinosu zajednici. To može uključivati održive poslovne prakse, filantropiju i društvenu odgovornost poduzeća.</p>
            </div>
            <div class="flex flex-col items-center">
                <i class="fas fa-trophy text-2xl sm:text-3xl text-green-600 mb-2"></i>
                <h3 class="text-xl sm:text-2xl font-semibold text-green-600 mb-2">Izvrsnost</h3>
                <p class="text-gray-100 text-sm sm:text-base text-center">Težnja izvrsnosti u svim aspektima poslovanja, postavljanje visokih standarda i dosljedna isporuka visokokvalitetnih proizvoda i usluga. Stremljenje stalnom poboljšanju i rastu.</p>
            </div>
        </div>
    </div>
</div>
