<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
      <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe
  width="100%"
  height="100%"
  class="absolute inset-0"
  frameborder="0"
  email="map"
  marginheight="0"
  marginwidth="0"
  scrolling="no"
  src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=45.781694,15.963762&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
  style="filter:opacity(0.9);"
></iframe>
        <div class="bg-white relative flex flex-wrap py-2 rounded shadow-md ">
          <div class="lg:w-1/2 px-2">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-sm">Adresa</h2>
            <ul class="mt-1">
              <!-- <li>Šetalište Stjepana Radića 16, 21260 Imotski</li> -->
              <li class="">Zagreb, XI Podbrežje 11a</li>
              <!-- <li>Split, Put Pazdigrada 14</li>
              <li>DIGITAL ARENA d.o.o. Ljubuški</li>
              <li>Ljubuški, Šipovača 84</li> -->
            </ul>
          </div>
          <div class="lg:w-1/2 px-2 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">eMail</h2>
            <a class="text-green-500 leading-relaxed">info@digitalarena.hr</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">Telefon</h2>
            <p class="leading-relaxed">+385 99 505 8114</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0 dark:bg-gray-900">
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font dark:text-gray-100">Kontakt</h2>
        <p class="leading-relaxed mb-5 text-gray-600 text-center dark:text-gray-100">Pošaljite nam Vaše pitanje</p>
        <form method="post">
        <div class="relative mb-4">
          <label for="name" class="leading-7 text-sm text-gray-600  dark:text-gray-100 ">Ime i prezime</label>
          <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600 dark:text-gray-100">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none
           text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="message" class="leading-7 text-sm text-gray-600 dark:text-gray-100">Poruka</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button id="btn" class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Pošalji</button>
      </form>
      </div>
    </div>
  </section>

  <script is:inline src="https://smtpjs.com/v3/smtp.js">
  </script>

<script >
var btn = document.getElementById('btn');
btn?.addEventListener('click', function(e) {
  e.preventDefault();
  var nameElement = document.getElementById('name') as HTMLInputElement;
  var emailElement = document.getElementById('email') as HTMLInputElement;
  var messageElement = document.getElementById('message') as HTMLTextAreaElement;

  if (nameElement && emailElement && messageElement) {
    var name = nameElement.value;
    var email = emailElement.value;
    var message = messageElement.value;
    var body = 'Name: ' + name + ', Email: ' + email + ', Message: ' + message;
 function sendEmail() {
  Email.send({
    SecureToken : "0b62b7b7-2128-4cc9-b93e-a9f5e04e775e",
    To : 'slaven.susic23@gmail.com',
    From : "slaven.susic23@gmail.com",
    Subject : "This is the subject",
    Body : "And this is the body"
  })
  .then(function (message) {
  alert("Email successfully sent")
  });
  }
} else {
    console.log("One or more elements not found");
    // You can handle this case according to your requirements
  }
 
 })
</script>

