---
import image from '../assets/g6.svg'
import { Image } from 'astro:assets';
---
<div class="container my-24 mx-auto">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <!-- Jumbotron -->
      <div class="mx-auto text-center lg:text-left xl:px-32">
        <div class="flex grid items-center lg:grid-cols-2">
          <div class="mb-12 lg:mb-0 z-10">
            <div
              class="block  bg-gray-800/80   px-6 py-12  lg:-mr-14 rounded-2xl p-8 transition duration-300  hover:shadow-2xl  dark:hover:shadow-none ">
              <h3 class="text-3xl lg:text-5xl md:text-3xl font-bold mb-5 text-gray-100">
                 Vaše vrijeme je dragocjeno
              </h3>
              <h5 class="mb-12 text-lg text-center font-bold text-primary text-gray-100 dark:text-primary-400 lg:mb-10 xl:mb-12">
               Odgovorimo na vaša pitanja
              </h5>
               <p class="mb-6 text-gray-100 dark:text-neutral-300">
                Nudimo rješenja, ne fraze.
                <span>Naš tim stručnjaka vodit će vas kroz svaki korak kako biste osigurali da je vaše vrijeme iskorišteno na najbolji način.</span>
              </p>
  
              <ul class="text-gray-100  text-base px-12">  
                <li class="flex items-start justify-start gap-2 mb-4 "> <svg xmlns="http://www.w3.org/2000/svg" class="w-1/6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>
                   Stručan tim: Naša ekipa iskusnih stručnjaka osigurat će da svaki aspekt vašeg projekta bude na najvišoj razini. Bez obzira radi li se o web razvoju, digitalnom marketingu ili savjetovanju, mi smo tu da pomognemo.</li> 

                   <li class="flex mb-4 items-start justify-start gap-2 "> <svg xmlns="http://www.w3.org/2000/svg" class="w-1/6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>Prilagođena rješenja: Razumijemo da nema "jedne veličine koja odgovara svima". Zbog toga ćemo prilagoditi naša rješenja kako bi udovoljila vašim specifičnim potrebama i ciljevima.</li> 

                  <li class="flex items-start justify-start gap-2 mb-4 "> <svg xmlns="http://www.w3.org/2000/svg" class="w-1/6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>Učinkovitost vremena: Vaše vrijeme je dragocjeno. Naš pristup temelji se na učinkovitom iskorištavanju resursa i brzom pružanju rješenja, što vam omogućava da se usredotočite na ono što vam je važno.</li> 

                  <li class="flex items-start justify-start gap-2 mb-4 "> <svg xmlns="http://www.w3.org/2000/svg" class="w-1/6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>Izvrsnost u kvaliteti: Kvaliteta je ključna. Nećemo kompromitirati kvalitetu naših usluga, pa se možete osloniti na nas da pružimo izvanredne rezultate.</li> 

                  <li class="flex items-start justify-start gap-2 mb-4 "> <svg xmlns="http://www.w3.org/2000/svg" class="w-1/6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                  </svg>aznolikost usluga: Bez obzira trebate li optimizaciju web aplikacije, GDPR savjetovanje, pomoć oko odabira ICT infrastrukture  ili bilo što između, pokrivamo sve aspekte digitalnog svijeta.
              </ul>
              <button class="px-5 py-2 mt-2 rounded-md group bg-green-600 hover:bg-gray-200 hover:text-gray-100 transition duration-500">
                <a href="" class="text-gray-200 group-hover:text-green-600">
                  Kontaktirajte nas
                </a>
              </button>
            </div>
         
           
          </div>
  
          <div>
            <Image src={image}
              class="w-full rounded-lg sm:hidden lg:block shadow-lg dark:shadow-black/20" alt="Digital Arena" />
          </div>
        </div>
      </div>
    </section>
  </div>

