---
import image from '../assets/g6.svg'
import { Image } from 'astro:assets';
import CTAicona from "../assets/cm.svg"

const listItems = [
  {
    icon: CTAicona.src ,
    text:
      "Stručan tim: Naša ekipa iskusnih stručnjaka osigurat će da svaki aspekt vašeg projekta bude na najvišoj razini. Bez obzira radi li se o web razvoju, digitalnom marketingu ili savjetovanju, mi smo tu da pomognemo."
  },
  {
    icon: CTAicona.src ,
    text:
      "Prilagođena rješenja: Razumijemo da nema 'jedne veličine koja odgovara svima'. Zbog toga ćemo prilagoditi naša rješenja kako bi udovoljila vašim specifičnim potrebama i ciljevima."
  },
  {
    icon: CTAicona.src ,
    text:
      "Naš pristup temelji se na učinkovitom iskorištavanju resursa i brzom pružanju rješenja, što vam omogućava da se usredotočite na ono što vam je važno."
  },
  {
    icon: CTAicona.src ,
    text:
      "Izvrsnost u kvaliteti: Kvaliteta je ključna. Nećemo kompromitirati kvalitetu naših usluga, pa se možete osloniti na nas da pružimo izvanredne rezultate."
  },
  {
    icon: CTAicona.src ,
    text:
      "Raznolikost usluga: Bez obzira trebate li optimizaciju web aplikacije, GDPR savjetovanje, pomoć oko odabira ICT infrastrukture ili bilo što između, pokrivamo sve aspekte digitalnog svijeta."
  }
];
---


<div class="container my-24 mx-auto">
  <section class="mb-32">
    <div class="mx-auto text-left md:text-center lg:text-left xl:px-32">
      <div class="grid items-center lg:grid-cols-2">
        <div class="mb-12 lg:mb-0 z-10 flex">
          <div class="block bg-gray-800/80 md:px-6 py-12 lg:-mr-14 rounded-2xl md:p-8 transition duration-300 hover:shadow-2xl dark:hover:shadow-none w-full">
            <h3 class="text-3xl lg:text-5xl text-center md:text-3xl font-bold mb-5 text-gray-100">
              Vaše vrijeme je dragocjeno
            </h3>
            <h5 class="mb-12 text-lg text-center font-bold text-primary text-gray-100 dark:text-primary-400 lg:mb-10 xl:mb-12">
              Odgovorimo na vaša pitanja
            </h5>
            <p class="mb-6 p-8 text-gray-100 dark:text-neutral-300">
              Nudimo rješenja, ne fraze.
              <span>Naš tim stručnjaka vodit će vas kroz svaki korak kako biste osigurali da je vaše vrijeme iskorišteno na najbolji način.</span>
            </p>

            <ul class="text-gray-100 text-base md:px-12">
              {listItems.map((items, index) => (
                <li class="flex items-center gap-2 mb-4">
                  <img src={items.icon} alt="" class="w-1/12" />
                  <p>{items.text}</p>
                </li>
              ))}
            </ul>
            <button class="px-5 py-2 mt-2 m-8 rounded-md group bg-green-600 hover:bg-gray-200 hover:text-gray-100 transition duration-500">
              <a href="" class="text-gray-200 group-hover:text-green-600">
                Kontaktirajte nas
              </a>
            </button>
          </div>
        </div>

        <div>
          {/* Adjust this part as per the correct usage of the Image component */}
          <Image src={image} class="w-full rounded-lg hidden lg:block shadow-lg dark:shadow-black/20" alt="Digital Arena" />
        </div>
      </div>
    </div>
  </section>
</div>
