---


---

<div id="features" class=" w-full z-10 ">

    <div
      class="grid grid-cols-2 gap-2   dark:divide-gray-700 overflow-hidden text-gray-600 sm:grid-cols-3 lg:grid-cols-2 lg:divide-y-0 xl:grid-cols-3"
    >
    <div
    class="group relative  rounded-xl dark:bg-gray-900 00 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 "
  >
    <div
      class="relative py-8 p-8 transition duration-300  dark:group-hover:bg-gray-800
      rounded-2xl  hover:bg-white hover:shadow-2xl hover:shadow-gray-600/10 dark:hover:bg-gray-700/60 dark:hover:shadow-none"
    >
    <a href="/it">
      <svg
        xmlns="http://www.w3.org/2000/svg"
  
        transition:name="it"
        data-name="Layer 1"
        class="w-full"
        viewBox="0 0 855.41839 610.77534"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <circle
          cx="39.53587"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="80.42757"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="121.31927"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="162.21097"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="203.10267"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="243.99437"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <circle
          cx="284.88607"
          cy="110.72662"
          r="13.63057"
          fill="#e6e6e6"
        />
        <path
          d="M488.67447,271.93783H180.32909a5.55346,5.55346,0,0,1-5.54693-5.54693V244.28714a5.55345,5.55345,0,0,1,5.54693-5.54693H488.67447a5.55346,5.55346,0,0,1,5.54693,5.54693V266.3909A5.55347,5.55347,0,0,1,488.67447,271.93783ZM180.32909,240.959a3.3318,3.3318,0,0,0-3.32816,3.32816V266.3909a3.3318,3.3318,0,0,0,3.32816,3.32815H488.67447a3.33179,3.33179,0,0,0,3.32815-3.32815V244.28714a3.33179,3.33179,0,0,0-3.32815-3.32816Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M246.31694,147.79938a3.19065,3.19065,0,0,1,3.187,3.187V220.049a3.19065,3.19065,0,0,1-3.187,3.187h-67.652a3.19065,3.19065,0,0,1-3.187-3.187V150.98643a3.19065,3.19065,0,0,1,3.187-3.187h67.652m0-3.18705h-67.652a6.3741,6.3741,0,0,0-6.3741,6.3741V220.049a6.3741,6.3741,0,0,0,6.3741,6.3741h67.652a6.37411,6.37411,0,0,0,6.3741-6.3741V150.98643a6.37411,6.37411,0,0,0-6.3741-6.3741Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M235.76469,165.95293H190.62778a1.59353,1.59353,0,1,1,0-3.187h45.13691a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M235.76469,177.23755H190.62778a1.59353,1.59353,0,1,1,0-3.187h45.13691a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M235.76469,188.52139H190.62778a1.59353,1.59353,0,1,1,0-3.187h45.13691a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M235.76469,199.806H190.62778a1.59353,1.59353,0,1,1,0-3.187h45.13691a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M235.76469,211.09063H190.62778a1.59353,1.59353,0,1,1,0-3.18706h45.13691a1.59353,1.59353,0,0,1,0,3.18706Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M477.37812,147.79938a3.19065,3.19065,0,0,1,3.187,3.187V220.049a3.19065,3.19065,0,0,1-3.187,3.187h-67.652a3.19065,3.19065,0,0,1-3.187-3.187V150.98643a3.19065,3.19065,0,0,1,3.187-3.187h67.652m0-3.18705h-67.652a6.3741,6.3741,0,0,0-6.3741,6.3741V220.049a6.3741,6.3741,0,0,0,6.3741,6.3741h67.652a6.3741,6.3741,0,0,0,6.3741-6.3741V150.98643a6.3741,6.3741,0,0,0-6.3741-6.3741Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M466.82588,165.95293H421.689a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M466.82588,177.23755H421.689a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M466.82588,188.52139H421.689a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M466.82588,199.806H421.689a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M466.82588,211.09063H421.689a1.59353,1.59353,0,1,1,0-3.18706h45.13692a1.59353,1.59353,0,0,1,0,3.18706Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M707.317,280.59077a3.19065,3.19065,0,0,1,3.187,3.187v69.06255a3.19066,3.19066,0,0,1-3.187,3.187H639.665a3.19066,3.19066,0,0,1-3.187-3.187V283.77782a3.19065,3.19065,0,0,1,3.187-3.187h67.652m0-3.187H639.665a6.3741,6.3741,0,0,0-6.3741,6.3741v69.06255a6.3741,6.3741,0,0,0,6.3741,6.3741h67.652a6.37411,6.37411,0,0,0,6.3741-6.3741V283.77782a6.3741,6.3741,0,0,0-6.3741-6.3741Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M696.76476,298.74432H651.62784a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M696.76476,310.02894H651.62784a1.59353,1.59353,0,0,1,0-3.18706h45.13692a1.59353,1.59353,0,0,1,0,3.18706Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M696.76476,321.31278H651.62784a1.59352,1.59352,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M696.76476,332.59739H651.62784a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M696.76476,343.882H651.62784a1.59353,1.59353,0,1,1,0-3.187h45.13692a1.59353,1.59353,0,0,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M362.73282,226.42308H293.30943a7.08972,7.08972,0,0,1-7.08139-7.08138V169.66541a7.08988,7.08988,0,0,1,7.08139-7.08216h69.42339a7.09,7.09,0,0,1,7.08217,7.08216V219.3417A7.08988,7.08988,0,0,1,362.73282,226.42308ZM293.30943,165.7703a3.89917,3.89917,0,0,0-3.89434,3.89511V219.3417a3.89851,3.89851,0,0,0,3.89434,3.89433h69.42339a3.89917,3.89917,0,0,0,3.89511-3.89433V169.66541a3.89983,3.89983,0,0,0-3.89511-3.89511Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M350.59,184.81246H305.45305a1.59353,1.59353,0,0,1,0-3.187H350.59a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M350.59,196.09708H305.45305a1.59353,1.59353,0,0,1,0-3.187H350.59a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M350.59,207.38092H305.45305a1.59353,1.59353,0,0,1,0-3.187H350.59a1.59353,1.59353,0,1,1,0,3.187Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M593.09111,253.95025,526.41486,234.6141a7.08971,7.08971,0,0,1-4.82882-8.77351l13.83608-47.71054a7.08988,7.08988,0,0,1,8.77372-4.82958l66.67625,19.33615a7.09,7.09,0,0,1,4.82935,8.77447l-13.83608,47.71055A7.08988,7.08988,0,0,1,593.09111,253.95025Zm-49.78294-77.58884a3.89916,3.89916,0,0,0-4.82511,2.65631L524.647,226.72827a3.89851,3.89851,0,0,0,2.65557,4.8249l66.67624,19.33614a3.89918,3.89918,0,0,0,4.82565-2.65535l13.83608-47.71054a3.89985,3.89985,0,0,0-2.65609-4.82587Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M593.01835,210.60411l-43.3508-8.57175a1.59353,1.59353,0,0,1,.88767-3.06094L593.906,207.54318a1.59352,1.59352,0,1,1-.88768,3.06093Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M589.87531,221.44219,546.5245,208.87043a1.59352,1.59352,0,1,1,.88767-3.06093L590.763,218.38125a1.59353,1.59353,0,0,1-.88767,3.06094Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M586.73248,232.27951l-43.35081-8.57175a1.59353,1.59353,0,0,1,.88767-3.06094l43.35081,8.57176a1.59352,1.59352,0,0,1-.88767,3.06093Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <rect
          x="156.10589"
          y="607.77534"
          width="699.3125"
          height="3"
          fill="#e6e6e6"
        />
        <polygon
          points="562.14 603.085 448.421 603.085 452.276 552.973 558.285 552.973 562.14 603.085"
          fill="#e6e6e6"
        />
        <rect
          x="442.63878"
          y="597.3034"
          width="127.21043"
          height="11.5646"
          fill="#e6e6e6"
        />
        <path
          d="M895.37073,374.74021H460.73514a11.56458,11.56458,0,0,0-11.56458,11.56458h0V651.3265H906.93533V386.30479a11.56457,11.56457,0,0,0-11.56456-11.56458Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#3f3d56"
        />
        <path
          d="M449.17056,651.3265v43.36719a11.56457,11.56457,0,0,0,11.56458,11.56457H895.37073a11.56459,11.56459,0,0,0,11.5646-11.56457h0V651.3265Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <rect
          x="300.00891"
          y="254.22076"
          width="412.47016"
          height="231.29169"
          fill="#e6e6e6"
        />
        <circle cx="506.244" cy="533.69821" r="11.56459" fill="#3f3d56" />
        <circle cx="312.86987" cy="261.79534" r="2.19466" fill="#fff" />
        <circle cx="321.20026" cy="261.79534" r="2.19466" fill="#fff" />
        <circle cx="329.53064" cy="261.79534" r="2.19466" fill="#fff" />
        <rect
          x="310.6752"
          y="269.25275"
          width="389.91608"
          height="194.24707"
          fill="#fff"
        />
        <path
          d="M508.885,443.41111a1.37973,1.37973,0,0,0-1.37842,1.37842v69.67578a1.37973,1.37973,0,0,0,1.37842,1.37841H589.3493a1.37973,1.37973,0,0,0,1.37842-1.37841V444.78953a1.37973,1.37973,0,0,0-1.37842-1.37842Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M638.08075,443.63523a1.37984,1.37984,0,0,0-1.37891,1.37842v69.45166a1.37984,1.37984,0,0,0,1.37891,1.37841h80.208a1.37963,1.37963,0,0,0,1.37793-1.37841V445.01365a1.37963,1.37963,0,0,0-1.37793-1.37842Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M765.92157,442.9072a1.37963,1.37963,0,0,0-1.37793,1.37842v70.17969a1.37962,1.37962,0,0,0,1.37793,1.37841h81.042a1.37962,1.37962,0,0,0,1.37793-1.37841V444.28562a1.37963,1.37963,0,0,0-1.37793-1.37842Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M510.35614,550.333a2.84986,2.84986,0,0,0,0,5.69971h75.65234a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M510.35614,563.88865a2.8501,2.8501,0,0,0,0,5.70019h34.062a2.8501,2.8501,0,0,0,0-5.70019Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M640.94012,550.333a2.84986,2.84986,0,0,0,0,5.69971h75.65235a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M640.94012,563.88865a2.8501,2.8501,0,0,0,0,5.70019h34.0625a2.8501,2.8501,0,0,0,0-5.70019Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
        <path
          d="M768.26044,550.333a2.84986,2.84986,0,0,0,0,5.69971h75.65234a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M510.35614,536.333a2.84986,2.84986,0,0,0,0,5.69971h75.65234a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M640.94012,536.333a2.84986,2.84986,0,0,0,0,5.69971h75.65235a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M768.26044,536.333a2.84986,2.84986,0,0,0,0,5.69971h75.65234a2.84986,2.84986,0,0,0,0-5.69971Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#e6e6e6"
        />
        <path
          d="M768.26044,563.88865a2.8501,2.8501,0,0,0,0,5.70019H802.322a2.8501,2.8501,0,0,0,0-5.70019Z"
          transform="translate(-172.29081 -144.61233)"
          fill="#84cc16"
        />
      </svg>
    </a>


      
      <div class="">
       
        <p class="text-gray-600  dark:text-gray-300 text-center" transition:name="itTitle">
           IT     </p>
      </div>
      <a href="/it" class="flex items-center justify-between group-hover:text-secondary">
        <span class="text-sm text-green-500">Pogledaj više</span>
        <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
          <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>                
      </a>
    </div>
  </div>
      <div
        class="group relative rounded-xl dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative rounded-2xl  py-8 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
        <a href="/ict">
          <svg
            transition:name="ict"
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
            class=""
            viewBox="0 0 855.41839 610.77534"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M772.03739,521.9677a6.816,6.816,0,0,1,4.23934-8.59309,6.63976,6.63976,0,0,1,1.06574-.25678l3.65181-14.98328,9.52107.02944-5.45015,21.08585a6.79262,6.79262,0,0,1-4.55318,7.0165A6.68025,6.68025,0,0,1,772.03739,521.9677Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#9f616a"
            />
            <path
              d="M788.112,512.27175l-14.5821-1.02465,7.06247-42.67513-4.49427-46.99,14.74064-6.12839,9.8301,52.18271-.02686.09511Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <path
              d="M675.36028,507.27008a6.75056,6.75056,0,0,1,6.62337-6.87134,6.62778,6.62778,0,0,1,1.09218.08525L691.063,487.3455l9.058,2.97424-11.53638,18.39348a6.68783,6.68783,0,0,1-13.22433-1.44314Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#9f616a"
            />
            <polygon
              points="469.071 452.168 461.314 452.168 457.624 421.83 469.073 421.831 469.071 452.168"
              fill="#9f616a"
            />
            <path
              d="M722.3074,679.17549l-25.01181-.00094v-.32078a9.87623,9.87623,0,0,1,2.85186-6.98009,9.60472,9.60472,0,0,1,6.88343-2.89109h.00062l15.27636.00063Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <polygon
              points="523.187 452.168 515.43 452.168 511.74 421.83 523.188 421.831 523.187 452.168"
              fill="#9f616a"
            />
            <path
              d="M776.423,679.17549l-25.01182-.00094v-.32078a9.87629,9.87629,0,0,1,2.85187-6.98009,9.6047,9.6047,0,0,1,6.88343-2.89109h.00062l15.27636.00063Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <ellipse
              cx="515.81024"
              cy="148.59277"
              rx="18.42846"
              ry="18.68597"
              fill="#9f616a"
            />
            <path
              d="M760.84393,366.95084a12.35944,8.35944,0,0,1-15.21708-5.47224,8.72349,8.72349,0,0,1,3.901-15.88632c4.90489-3.32829,8.23-2.22669,16.985,1.63339a16.4326,16.4326,0,0,1,19.18179,4.03624c4.5902,5.38421,5.092,13.93075,1.74685,20.20734a22.236,22.236,0,0,0,1.27066,20.56671c-1.43927-.0595-4.60723-.32982-8.57117-.6766-1.14708-.10035-1.64319-3.51676-2.901-3.62665-1.10924-.09692-2.97036,3.11337-4.13262,3.01379-8.6087-.73756-18.24663-1.48682-22.61445-1.34025A241.58716,241.58716,0,0,1,760.84393,366.95084Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <path
              d="M781.20064,499.61552s5.98934,6.26095,2.33226,38.592l-2.52661,68.65109-4.47016,60.78749-14.38224-.96965L749.52084,526.76567l-17.68626,51.19742-9.52338,84.64083-13.79918-.96965-2.35655-84.17039,6.04929-65.049Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <path
              d="M721.92327,516.33092c-7.35829.00041-10.32193-.89662-10.53859-.96571l-.34152-.10893.05993-.35767c.0491-.29386,4.99291-29.52053,11.77619-44.86466l4.76985-62.22638a8.16093,8.16093,0,0,1,6.836-7.49607l.06374.41132-.06374-.41132,8.13315-1.93143,7.422-6.62668,17.78.997,1.5679,7.62613c2.12648.60276,16.15942,4.96351,17.54835,15.40591l.01723.13087-.05992.11665-25.70853,50.14723c2.17257,2.17408,19.34132,20.05727,20.50658,42.91941l.02805.54992-.52931-.12274c-.0493-.01016-5.54367-1.069-34.43531,3.88358C737.39325,515.69727,728.10649,516.33092,721.92327,516.33092Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <path
              d="M693.42306,506.96723l-10.47887-8.18255,23.38825-47.44762,21.75321-46.503a3.4598,3.4598,0,0,1,6.49127.5739l5.38433,19.80608L723.1236,469.63279Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#2f2e41"
            />
            <path
              d="M918.36477,678.837l.62262-1.15126c-8.34812-4.51495-18.73781-10.13354-24.16445-19.35423-5.34945-9.08964-5.46946-21.43268-.3132-32.21247,4.38806-9.17433,8.44869-17.39365,23.31031-23.76971,2.1424-1.2577,4.3914-2.44956,6.56641-3.60242,5.25725-2.78612,10.69349-5.66748,15.176-9.75508,6.17376-5.63008,10.845-15.078,7.3634-23.49358a15.61545,15.61545,0,0,0-13.535-9.47l-.07384,1.30724a14.30953,14.30953,0,0,1,8.40281,8.67191c3.23533,7.82044-1.20354,16.695-7.03947,22.01726-4.35992,3.97574-9.72169,6.81747-14.90687,9.56555-2.18731,1.15925-4.44926,2.35814-6.61627,3.63022-11.08759,6.50871-19.32737,14.923-23.82841,24.33353-5.34164,11.16748-5.2015,23.98164.36594,33.44172C899.30623,668.53019,909.87362,674.2453,918.36477,678.837Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#f1f1f1"
            />
            <ellipse
              cx="673.83562"
              cy="337.98147"
              rx="11.45514"
              ry="5.56393"
              fill="#f1f1f1"
            />
            <ellipse
              cx="664.67148"
              cy="374.63791"
              rx="11.45514"
              ry="5.56393"
              fill="#f1f1f1"
            />
            <ellipse
              cx="685.61801"
              cy="380.52914"
              rx="11.45514"
              ry="5.56393"
              fill="#f1f1f1"
            />
            <ellipse
              cx="652.88901"
              cy="411.29435"
              rx="11.45514"
              ry="5.56393"
              fill="#f1f1f1"
            />
            <ellipse
              cx="629.97873"
              cy="411.29433"
              rx="11.45514"
              ry="5.56393"
              fill="#f1f1f1"
            />
            <path
              d="M947.25787,680.61717H573.74213a1,1,0,0,1,0-2h374a1.00006,1.00006,0,0,1,1,1C948.74213,680.16942,947.81012,680.61717,947.25787,680.61717Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#cbcbcb"
            />
            <path
              d="M479.79658,331.15406h-166a5.0058,5.0058,0,0,1-5-5v-56a5.00581,5.00581,0,0,1,5-5h166a5.00573,5.00573,0,0,1,5,5v56A5.00573,5.00573,0,0,1,479.79658,331.15406Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#3f3d56"
            />
            <rect
              x="83.53871"
              y="60.77124"
              width="44"
              height="5"
              fill="#fff"
            />
            <circle cx="185.53871" cy="63.77124" r="3" fill="#84cc16" />
            <circle cx="195.53871" cy="63.77124" r="3" fill="#84cc16" />
            <circle cx="205.53871" cy="63.77124" r="3" fill="#84cc16" />
            <path
              d="M479.79658,402.15406h-166a5.0058,5.0058,0,0,1-5-5v-56a5.00581,5.00581,0,0,1,5-5h166a5.00573,5.00573,0,0,1,5,5v56A5.00573,5.00573,0,0,1,479.79658,402.15406Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#3f3d56"
            />
            <rect
              x="83.53871"
              y="131.77124"
              width="44"
              height="5"
              fill="#fff"
            />
            <circle cx="185.53871" cy="134.77124" r="3" fill="#84cc16" />
            <circle cx="195.53871" cy="134.77124" r="3" fill="#84cc16" />
            <circle cx="205.53871" cy="134.77124" r="3" fill="#84cc16" />
            <path
              d="M479.79658,473.15406h-166a5.0058,5.0058,0,0,1-5-5v-56a5.00581,5.00581,0,0,1,5-5h166a5.00573,5.00573,0,0,1,5,5v56A5.00573,5.00573,0,0,1,479.79658,473.15406Z"
              transform="translate(-251.25787 -219.38283)"
              fill="#3f3d56"
            />
            <rect
              x="83.53871"
              y="202.77124"
              width="44"
              height="5"
              fill="#fff"
            />
            <circle cx="185.53871" cy="205.77124" r="3" fill="#84cc16" />
            <circle cx="195.53871" cy="205.77124" r="3" fill="#84cc16" />
            <circle cx="205.53871" cy="205.77124" r="3" fill="#84cc16" />
            <polygon
              points="168 297.234 0 297.234 0 231 2 231 2 295.234 168 295.234 168 297.234"
              fill="#ccc"
            />
            <polygon
              points="105 0 273 0 273 66.234 271 66.234 271 2 105 2 105 0"
              fill="#ccc"
            />
          </svg>
        </a>

          <div class="">
          
            <p class="text-gray-600 dark:text-gray-300 " transition:name="ictTitle">
              ICT infrastructure
            </p>
          </div>
          <a href="/ict" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm text-green-500">Pogleda više</span>
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
      class="group relative rounded-xl dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
    >
      <div
        class="relative rounded-2xl  py-8 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <a href="/energetics">
          <svg
            transition:name="energetics"
            xmlns="http://www.w3.org/2000/svg"
            class=""
            viewBox="0 0 855.41839 610.77534"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-5/4"
          >
            <g>
              <path
                d="m339.28132,144.85552c-1.7577,2.08666-3.98893,3.72206-6.50814,4.76945l-7.21532,8.12517-20.43689,24.67773-13.80738,8.35194-6.41109-11.03715,30.26457-29.48015,8.43338-8.58048c.67621-2.64418,1.97584-5.08773,3.79079-7.1256,4.4675-5.16172,10.75245-7.03932,14.03602-4.19587,3.28421,2.84414,2.32391,9.33233-2.14593,14.49496Z"
                fill="#ffafaf"
              />
              <path
                d="m215.75649,169.37563l13.29016-22.11774,56.5433,24.29522,30.90638-25.25171s12.2617,10.56233,8.69962,10.93955-31.16616,44.15089-33.41028,44.09926c-2.24412-.05162-80.02919-31.96459-80.02919-31.96459Z"
                fill="#dedede"
              />
            </g>
            <path
              d="m0,479.24451c0,.66003.53003,1.19,1.19006,1.19h505.61625c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19H1.19006c-.66003,0-1.19006.53003-1.19006,1.19Z"
              fill="#3f3d58"
            />
            <g>
              <path
                d="m343.37799,0c40.25244,0,73,30.72852,73,68.5,0,10.55371-2.62939,21.05078-7.61865,30.46875h.06006l-1.32129,2.29688c-11.2124,19.31543-17.43848,41.3125-18.00342,63.61133-.17139,6.79785-5.6333,8.12305-8.43359,8.12305h-56.88623c-7.33008,0-13.48633-5.25439-14.6377-8.49316-2.80176-17.6123-8.40527-34.58301-16.65332-50.44238-11.93457-8.55957-18.50586-28.73633-18.50586-45.56445C270.37799,30.72852,303.12604,0,343.37799,0Zm62.35107,100.3291l.47314-.85156c5.34863-9.49414,8.17578-20.20605,8.17578-30.97754,0-36.66797-31.85059-66.5-71-66.5s-71,29.83203-71,66.5c0,16.3584,6.41016,32.08594,18.05078,44.28711l.16309.22852c8.38379,16.08594,14.07715,33.30469,16.91992,51.17676.99609,6.26221,6.32227,10.80762,8.66309,10.80762h56.88623c5.70703,0,10.29004-4.46875,10.43457-10.17383.57227-22.60645,6.87695-44.90723,18.2334-64.49707Z"
                fill="#3f3d56"
              />
              <path
                d="m384.93105,172.00015h-75.10596c-2.38802,0-4.26057,2.0505-4.04437,4.42871l.70322,7.73563c.58849,6.4735,2.63111,8.73056,5.97549,18.3044h0c.55924.93206,1.61518,1.44245,2.69433,1.31238,22.25527-2.68252,44.03088-2.77033,65.28482-.03885,1.16266.14942,2.29074-.44478,2.81498-1.49325l.48135-.9627c2.40753-4.81506,3.8933-10.03792,4.38068-15.39922l.85983-9.45839c.2162-2.37821-1.65635-4.42871-4.04437-4.42871Z"
                fill="#3f3d56"
              />
              <path
                d="m317.37807,198.50015h61.5v40.02791c0,7.15949-5.8126,8.97209-8.97209,8.97209h-35.55581c-7.15949,0-8.97209-5.8126-8.97209-8.97209v-40.02791h0Z"
                fill="#3f3d56"
              />
              <path
                d="m356.04202,262.00015h-13.32791c-1.466,0-2.84175-.70799-3.69384-1.90092l-8.6422-8.09908h38l-8.6422,8.09908c-.85209,1.19293-2.22785,1.90092-3.69384,1.90092Z"
                fill="#3f3d56"
              />
              <path
                d="m366.12615,35.32647c-9.78508,2.02614-19.57015,4.05229-29.35523,6.07843-4.40004.91109-9.32793,1.38395-13.32571,3.57071-3.87589,2.12009-6.59038,6.56839-5.20384,11.0215,1.32408,4.25251,5.23235,6.92014,9.42433,7.86845,4.65106,1.05217,9.63356,1.04475,14.37444,1.41071,4.9449.38171,9.8898.76341,14.8347,1.14512,2.35337.18166,4.71905.30711,7.06693.54884.751.07732,1.56979.16944,2.18644.64589-.0093-.00719.20836.12917.08769.15012-.02354.00409-.02548-.1543-.02207-.16491.09529-.29674.05612-.01596-.02075-.01525-.02699.00025-.73526.46812-1.13042.54199-1.06603.1993-2.24216.05431-3.32237.03591-2.34708-.03998-4.69541.00436-7.03935.13214-4.71747.25718-9.42845.84396-14.06835,1.73284-4.56402.87434-9.10646,2.03846-13.48968,3.58913-4.24986,1.5035-8.70105,4.35866-8.81664,9.39621-.10856,4.73132,3.996,8.0562,8.17609,9.24474,2.14995.6113,4.41565.83289,6.62081,1.16093,2.46033.366,4.92067.732,7.381,1.098,4.83866.7198,9.67731,1.4396,14.51597,2.15939,2.46033.366,4.92067.732,7.381,1.098,1.14726.17067,2.30106.3178,3.44447.5124.42158.07175.8192.20433,1.23503.28965-.27921-.05729.06722-.05682.01.00821.18217.11163.18258.09478.00123-.05057l-.12357-.18156c-.28234-.79255-.27258-.89695.2426-1.8342.09836-.17895.29818.00572.04346-.02243-.27188-.03004.16303-.03404-.12656.08556-.14478.05979-.30217.10049-.45291.14219-1.13922.31519-2.33285.47986-3.4924.70755-2.41053.47332-4.82107.94664-7.2316,1.41996-4.74071.93086-9.48148,1.86146-14.22214,2.79259-8.35115,1.64029-17.22027,3.8587-22.225,11.39391-1.08873,1.63921-1.87883,3.52803-2.27347,5.45482-.3248,1.58578.45984,3.24097,2.09532,3.69036,1.48351.40763,3.36372-.50056,3.69036-2.09532,1.58533-7.74015,10.055-10.51989,17.02006-11.99627,4.61722-.97871,9.26281-1.83505,13.89412-2.74444,4.66759-.91651,9.40939-1.66266,14.0371-2.76137,1.9455-.4619,4.05633-1.65799,4.60012-3.7324.59537-2.27118-.52565-4.46368-2.5843-5.52174-1.97445-1.01478-4.3215-1.09484-6.47893-1.41577-2.37832-.3538-4.75665-.7076-7.13497-1.0614-4.83866-.7198-9.67731-1.4396-14.51597-2.15939-2.37832-.3538-4.75665-.7076-7.13497-1.0614-2.20524-.32805-4.47061-.54956-6.62081-1.16093-1.45474-.41363-2.94324-1.12339-3.58581-2.50851-.20717-.44658-.26047-.7716-.119-1.27388.19418-.68946.73416-1.33156,1.3351-1.80673,1.38526-1.09533,3.26028-1.58401,4.90692-2.1123,2.16064-.6932,4.34524-1.31168,6.54859-1.85409,4.37442-1.07688,8.82057-1.86498,13.30492-2.30181,2.33636-.22759,4.68064-.37227,7.02727-.43316,2.22033-.05761,4.44462.07999,6.66212.0113,2.36368-.07321,4.7965-.70515,6.41923-2.53748,1.66997-1.88567,2.07596-4.4605.91412-6.72101-2.29915-4.47333-8.39123-4.03382-8.63808-4.36164-4.86248-.37534-9.72497-.75069-14.58745-1.12603-4.54681-.35098-9.22151-.4249-13.72887-1.12463-1.66926-.25914-3.59306-.73621-4.85191-1.73087-1.15405-.91186-1.9032-2.10742-1.81149-3.30544.08531-1.1144,1.22331-2.34531,2.41464-3.02936,1.67141-.95972,3.64349-1.31787,5.51016-1.70703,9.60699-2.00283,19.21945-3.97979,28.82914-5.96962,2.36473-.48965,4.72945-.9793,7.09418-1.46895,1.58727-.32867,2.50472-2.20063,2.09532-3.69036-.45286-1.64789-2.09848-2.42494-3.69036-2.09532h0Z"
                fill="#63ffd6"
              />
            </g>
            <rect
              x="220.374"
              y="131.00008"
              width="19.65164"
              height="38.14729"
              fill="#ffafaf"
            />
            <path
              d="m272.4694,237.29842l-47.39512-3.46794s-19.65164,45.08316-4.62391,73.98263l10.40381,60.11088-4.11409,98.93814h21.52698l33.45017-159.04903-9.24783-70.51469Z"
              fill="#2f2e41"
            />
            <polygon
              points="263.22157 287.79173 281.71723 303.89042 272.4694 461.55826 251.66179 461.55826 263.22157 287.79173"
              fill="#2f2e41"
            />
            <circle
              cx="229.93432"
              cy="113.93163"
              r="24.56883"
              fill="#ffafaf"
            />
            <path
              d="m226.9916,443.38148l25.37943,4.0095,4.76997,18.20598s20.60701,7.75462,10.67776,16.18143c-9.92926,8.42681-46.61071,4.07002-49.5109-1.97463s8.68374-36.42227,8.68374-36.42227Z"
              fill="#2f2e41"
            />
            <path
              d="m247.79921,443.38148l25.37943,4.0095,4.76997,18.20598s20.60701,7.75462,10.67776,16.18143c-9.92926,8.42681-46.61071,4.07002-49.5109-1.97463-2.90019-6.04465,8.68374-36.42227,8.68374-36.42227Z"
              fill="#2f2e41"
            />
            <path
              d="m317.91302,233.38836c-2.72814.03013-5.42343-.59303-7.86116-1.81815l-10.86519-.16383-32.03545.62181-15.33933-5.01036,4.17817-8.06083,42.0881,3.68989,8.00513.78955c2.44471-1.2134,5.14429-1.82351,7.87283-1.77842,6.82654.01602,8.35101,3.55244,8.33967,7.89606-.01143,4.34454-5.554,7.85149-8.38277,7.83429Z"
              fill="#ffafaf"
            />
            <path
              d="m241.83597,145.39813h-24.32173l-8.04567,24.27555,15.60571,64.15681,47.39512,3.46794-2.88995-26.00952v-.00002c5.5955-9.09267,5.14898-20.66363-1.1306-29.29804l-26.61289-36.59272Z"
              fill="#dedede"
            />
            <path
              d="m218.7164,155.80194l25.43153-4.3658,18.49566,58.69679,39.30327,6.93587v16.76169c0,.57799-53.79192,5.2019-55.21743,3.46794-1.42552-1.73397-28.01302-81.49649-28.01302-81.49649Z"
              fill="#dedede"
            />
            <path
              d="m242.20224,99.6872c3.0182,4.89641.23544,11.34568-3.48262,15.73434s-8.5123,8.24091-10.17231,13.74806c-1.48833,4.93758-.13451,10.26267,1.61586,15.11355,1.75037,4.85088,3.9266,9.68736,4.10704,14.84122.18044,5.15386-2.25871,10.84543-7.11336,8.58531-4.9817,1.78542-10.8712-1.02037-15.66949,1.21154-6.24995,2.90715-7.66621,8.972-14.47977,14.01544-4.19317.64215-8.0793-2.99326-9.2512-7.07022-1.17191-4.07697-.33022-8.42859.51692-8.5852,2.32107-11.38866,4.64215-22.77731,6.96322-34.16597,1.93126-9.476,3.86253-18.952,5.79379-28.428,1.15307-5.65769,2.5212-11.70956,6.77327-15.61583,5.19577-4.77321,13.02743-4.88668,20.07709-4.60062,6.477.26282,13.21543.70598,18.85408,3.90382,5.63865,3.19784,9.7803,9.99526,7.82913,16.17697-1.82241-4.35077-7.26723-6.7915-11.72774-5.25714"
              fill="#2f2e41"
            />
          </svg>
        </a>



          <div class="">
          
            <p class="text-gray-600 dark:text-gray-300" transition:name="energeticsTitle">
            Energetics
            </p>
          </div>
          <a href="/energetics" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm text-green-500">Pogleda više</span>
           <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
      class="group relative rounded-xl dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
    >
      <div
        class="relative rounded-2xl  py-8 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <a href="/ISO">
          <svg
            transition:name="ISO"
            xmlns="http://www.w3.org/2000/svg"
            class=""
            viewBox="0 0 855.41839 610.77534"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-5/4"
          >
            <g>
              <path
                d="M198.10146,459.50579H117.74436c-2.02587,0-3.67427-1.64844-3.67427-3.67429s1.64841-3.67352,3.67427-3.67352h80.35711c2.02586,0,3.67351,1.64764,3.67351,3.67352s-1.64764,3.67429-3.67351,3.67429h-.00002Z"
                fill="#22c55e"
              />
              <path
                d="M54.5875,479.17299c0,.66003,.53003,1.19,1.19006,1.19h204.29c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19H55.77756c-.66003,0-1.19006,.53003-1.19006,1.19Z"
                fill="#3f3d56"
              />
            </g>
            <circle cx="485.60718" cy="174.40329" r="65" fill="#ff6884" />
            <path
              d="M0,561.30846c0,.66003,.53003,1.19,1.19006,1.19H523.48004c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19H1.19006c-.66003,0-1.19006,.53003-1.19006,1.19Z"
              fill="#3f3d56"
            />
            <g>
              <path
                d="M7.55489,480.94674l-1.67075-1.83057,163.0638-148.79639,58.74879,26.33618,63.44026-108.79395,52.12207-25.12366,48.29266,80.48737c26.07251-67.49872,91.45966-138.11798,169.81033-209.76619l1.92743,1.56058c-73.48529,70.35442-136.3587,141.02824-172.04047,212.52049l-44.66876-74.66707c-2.11026-3.52744-6.5448-4.88992-10.27161-3.15582l-.00006,.00003c-28.49045,13.25661-52.25458,34.89546-68.11469,62.02293l-39.7393,67.97107-9.0714-4.06644c-30.33815-13.5997-65.85408-7.89978-90.41309,14.51025L7.55489,480.94674Z"
                fill="#3f3d56"
              />
              <polygon
                points="565.03815 107.00612 562.5625 107.17803 558.56775 98.52049 549.62372 96.70378 549.27637 94.24652 564.01953 92.15139 565.03815 107.00612"
                fill="#3f3d56"
              />
            </g>
            <polygon
              points="310.6843 159.98014 319.44968 126.28289 353.59686 124.64036 363.8132 171.09089 310.6843 159.98014"
              fill="#ffb6b6"
            />
            <polygon
              points="310.6843 159.98014 319.44968 126.28289 353.59686 124.64036 363.8132 171.09089 310.6843 159.98014"
       
              opacity=".1"
            />
            <circle
              cx="333.15384"
              cy="103.92448"
              r="41.21628"
              fill="#ffb6b6"
            />
            <path
              d="M355.89438,112.64867h-.00006s-15.65744-31.02253-34.00266-29.23145c-18.34528,1.79106-28.00998,3.96931-28.00998,3.96931,0,0-5.44562-24.16184,20.1925-33.45562,0,0-32.59821-32.13389,6.21277-47.89698,38.811-15.7631,60.52856,4.34073,60.52856,4.34073,0,0,28.72815,28.67943-7.45398,50.11471,0,0,26.86676,36.13874-5.66187,65.92528,0,0,7.2756-24.1039-.31577-19.65871-7.5914,4.44517-11.4895,5.89272-11.4895,5.89272v.00002l-.00003-.00002Z"
              fill="#2f2e41"
            />
            <polygon
              points="287.67856 330.41161 282.19592 335.66613 242.58878 420.59115 238.25323 561.0631 304.79889 561.0631 336.01489 491.49968 357.04745 560.39159 416.88153 560.39159 430.75189 435.33205 393.46613 346.88671 287.67856 330.41161"
              fill="#2f2e41"
            />
            <path
              d="M356.61389,156.55581h-44.44116l-48.33972,26.01334,11.27243,50.29243s-2.60132,30.34889,3.46844,52.89375c6.06979,22.54489,3.46844,52.02667,3.46844,52.02667l111.42377,9.10468,3.46844-102.31909-1.73422-68.50177-38.58643-19.50999h0v-.00002Z"
              fill="#e6e6e6"
            />
            <path
              d="M271.20346,183.00271s-26.88043,.86711-31.216,18.20934-7.80399,106.65465-7.80399,106.65465c0,0,2.60132,52.99619,31.64954,27.79877,29.04822-25.19742,26.4469-101.5032,26.4469-101.5032l-19.07645-51.15955v0Z"
              fill="#e6e6e6"
            />
            <path
              d="M531.92712,625.39159h-158.40878c-5.36478,0-9.72961-4.36426-9.72961-9.72961v-163.75797c0-5.36533,4.36484-9.72961,9.72961-9.72961h158.40878c5.36536,0,9.72961,4.36429,9.72961,9.72961v163.75797c0,5.36536-4.36426,9.72961-9.72961,9.72961Z"
              fill="#fff"
            />
            <path
              d="M531.92712,626.39159h-158.40918c-5.91602,0-10.72949-4.81299-10.72949-10.72949v-163.7583c0-5.91602,4.81348-10.72949,10.72949-10.72949h158.40918c5.91602,0,10.72949,4.81348,10.72949,10.72949v163.7583c0,5.9165-4.81348,10.72949-10.72949,10.72949Zm-158.40918-183.21729c-4.81348,0-8.72949,3.91602-8.72949,8.72949v163.7583c0,4.81348,3.91602,8.72949,8.72949,8.72949h158.40918c4.81348,0,8.72949-3.91602,8.72949-8.72949v-163.7583c0-4.81348-3.91602-8.72949-8.72949-8.72949h-158.40918Z"
              fill="#3f3d56"
            />
            <g>
              <path
                d="M458.974,582.37066h-13.05609c-1.58966,0-2.88275-.99817-2.88275-2.22522v-56.21143c0-1.22705,1.29309-2.22522,2.88275-2.22522h13.05609c1.58966,0,2.88275,.99817,2.88275,2.22522v56.21143c0,1.22705-1.29309,2.22522-2.88275,2.22522Z"
                fill="#22c55e"
              />
              <path
                d="M415.80945,549.24474c-1.28421,0-2.32919,.80664-2.32919,1.79791v29.04004c0,.99127,1.04498,1.79791,2.32919,1.79791h13.05612c1.28421,0,2.32919-.80664,2.32919-1.79791v-29.04004c0-.99127-1.04498-1.79791-2.32919-1.79791h-13.05612Z"
                fill="#22c55e"
              />
              <path
                d="M489.0824,582.37066h-13.05609c-1.58966,0-2.88275-.99817-2.88275-2.22522v-92.12048c0-1.22705,1.29309-2.22519,2.88275-2.22519h13.05609c1.58966,0,2.88275,.99817,2.88275,2.22519v92.12048c0,1.22705-1.29309,2.22522-2.88275,2.22522Z"
                fill="#22c55e"
              />
            </g>
            <g>
              <path
                d="M208.12485,178.57206h-14.91385c-1.81583,0-3.29295-1.14018-3.29295-2.54182V111.8206c0-1.40163,1.47713-2.54182,3.29295-2.54182h14.91385c1.81583,0,3.29295,1.14018,3.29295,2.54182v64.20965c0,1.40163-1.47713,2.54182-3.29295,2.54182v-.00002Z"
                fill="#22c55e"
              />
              <path
                d="M158.81854,140.73272c-1.46693,0-2.66061,.92139-2.66061,2.05371v33.17207c0,1.13232,1.19368,2.05371,2.66061,2.05371h14.91385c1.46693,0,2.66061-.92139,2.66061-2.05371v-33.17207c0-1.13232-1.19368-2.05371-2.66061-2.05371h-14.91385Z"
                fill="#22c55e"
              />
              <path
                d="M242.5173,178.57206h-14.91385c-1.81583,0-3.29295-1.14018-3.29295-2.54182V70.80214c0-1.40163,1.47713-2.54182,3.29295-2.54182h14.91385c1.81583,0,3.29294,1.14018,3.29294,2.54182v105.22811c0,1.40163-1.47711,2.54182-3.29294,2.54182v-.00002Z"
                fill="#22c55e"
              />
            </g>
            <path
              d="M428.4375,466.00084c7.72461-.73965,13.04395-11.17798,11.88171-23.3201-.39771-4.85672-1.95276-9.54749-4.53497-13.67993l-1.48889-13.74216,.22809-.06839,3.74231-65.15799c.87012-15.15002-5.12701-30.0369-16.68127-39.8746-6.87335-5.85223-14.20575-8.81528-18.92081-1.42099-7.82382,8.26947,2.31027,62.84671,8.96533,91.60162l2.58023,30.72778c-1.75278,4.54852-2.3905,9.45065-1.85977,14.29608,1.16016,8.13803,8.36346,21.37817,16.08804,20.63867Z"
              fill="#ffb6b6"
            />
            <path
              d="M385.66211,177.80004s22.54489-8.67111,32.95023,17.34222,21.67776,154.34576,21.67776,154.34576l-52.89377-9.53821-1.73422-162.14977v-.00002Z"
              fill="#e6e6e6"
            />
            <g>
              <path
                d="M76.09184,165.07636h-30.3571c-2.02587,0-3.67427-1.64844-3.67427-3.67429s1.64841-3.67352,3.67427-3.67352h30.3571c2.02586,0,3.67351,1.64764,3.67351,3.67352s-1.64764,3.67429-3.67351,3.67429Z"
                fill="#e6e6e6"
              />
              <path
                d="M76.09184,112.99718h-30.3571c-2.02587,0-3.67427-1.64844-3.67427-3.67429s1.64841-3.67352,3.67427-3.67352h30.3571c2.02586,0,3.67351,1.64764,3.67351,3.67352s-1.64764,3.67429-3.67351,3.67429Z"
                fill="#e6e6e6"
              />
              <path
                d="M76.09184,75.44008h-30.3571c-2.02587,0-3.67427-1.64844-3.67427-3.67429s1.64841-3.67352,3.67427-3.67352h30.3571c2.02586,0,3.67351,1.64764,3.67351,3.67352s-1.64764,3.67429-3.67351,3.67429Z"
                fill="#e6e6e6"
              />
              <path
                d="M40.84269,178.75373c0,.66003,.53003,1.19,1.19006,1.19H246.32274c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19H42.03275c-.66003,0-1.19006,.53003-1.19006,1.19Z"
                fill="#3f3d56"
              />
            </g>
            <path
              d="M434.84269,486.75373c0,.66003,.53003,1.19,1.19006,1.19h204.28999c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19h-204.28999c-.66003,0-1.19006,.53003-1.19006,1.19Z"
              fill="#3f3d56"
            />
            <path
              d="M374.84269,583.75373c0,.66003,.53003,1.19,1.19006,1.19h204.28999c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19h-204.28999c-.66003,0-1.19006,.53003-1.19006,1.19Z"
              fill="#3f3d56"
            />
            <path
              d="M237.46713,172.73761c-7.72461,.73964-13.04395,11.17796-11.88174,23.32008,.39774,4.85674,1.95276,9.54749,4.53497,13.67993l1.48889,13.74216-.22806,.06839-3.74228,65.15799c-.87012,15.15002,5.12704,30.0369,16.68127,39.8746,6.87335,5.85223,14.20575,8.81528,18.92081,1.42099,7.82382-8.26947-2.31027-62.84671-8.96533-91.60161l-2.58023-30.72778c1.75278-4.54852,2.3905-9.45065,1.85977-14.2961-1.16016-8.13803-8.36346-21.37819-16.08804-20.63866h-.00003v0Z"
              fill="#ffb6b6"
            />
          </svg>
          <a />
        </a>{" "}

          <div class="">
           
            <p class="text-gray-600 dark:text-gray-300" transition:name="titeISO">
             ISO Standards
            </p>
          </div>
          <a href="/ISO" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm text-green-500">Pogleda više</span>
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
        class="group relative rounded-xl dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative rounded-2xl  py-8 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
        <a href="/GDPR">
          <svg
            transition:name="GDPR"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            data-name="Layer 1"
            class=""
            viewBox="0 0 855.41839 610.77534"
          >
            <defs>
              <linearGradient
                id="0bbb0783-00db-46b0-92e3-e6ca2c0b643f-2545"
                x1="436.86"
                y1="827.5"
                x2="436.86"
                y2="266.81"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0" stop-color="gray" stop-opacity="0.25" />
                <stop offset="0.54" stop-color="gray" stop-opacity="0.8" />
                <stop offset="1" stop-color="gray" stop-opacity="0.1" />
              </linearGradient>
              <linearGradient
                id="307dda9f-981d-4ff4-9930-3a0d53b6cae3-2546"
                x1="729.55"
                y1="449.33"
                x2="729.55"
                y2="-37.39"
                gradientTransform="translate(-70.8 529.44) rotate(-34.67)"
                xlink:href="#0bbb0783-00db-46b0-92e3-e6ca2c0b643f-2545"
              />
              <linearGradient
                id="7f05ddf0-0286-4412-8910-1e0b2c479f08-2547"
                x1="752.36"
                y1="126.67"
                x2="752.36"
                y2="59.43"
                gradientTransform="translate(-70.8 529.44) rotate(-34.67)"
                xlink:href="#0bbb0783-00db-46b0-92e3-e6ca2c0b643f-2545"
              />
            </defs>
            <title>gdpr</title>
            <path
              d="M97,468.18c3,33.76,22.14,64.32,33.82,96.47a228.68,228.68,0,0,1,4.45,142c-2.78,9.58-6.21,19.19-6.21,29,0,33.82,38.53,56.27,73.54,71.2a1340.62,1340.62,0,0,0,276.82,83.64c31.07,5.87,69.88,8.4,89.54-13.67,9.44-10.6,11.72-24.44,18.65-36.33,17.67-30.31,60.67-42.1,99.26-48.84a1212.54,1212.54,0,0,1,140.67-16.19c47.48-2.67,101.39-5,132.86-36.17,20-19.82,25.82-47.17,26.62-73,2.61-84.74-37.88-176.44,14.09-249.83,21.79-30.78,57.37-53.26,79-84.13,31.31-44.73,28.61-101.54,7.41-149.21s-58.75-88.2-95.76-127.92C979.46,42.06,966.4,28.4,948,22.31c-19.13-6.34-40.82-3.43-61.33-.43C793.39,35.5,696.54,50.33,618.3,97.11c-38.86,23.23-71.32,53.36-106,81.07C437.44,238.06,350.67,293.36,251.79,317,171.45,336.2,89.73,388,97,468.18Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
              opacity="0.1"
            />
            <path
              d="M540.77,473.09a15.42,15.42,0,0,1,1.46-.66S501,449.2,489.52,442.75a96.8,96.8,0,0,1-11.84-8.33c14.34-5.2,34.4-14.49,45-28.44,0,0-3-2.5-6.85-6.13l4.14-4.84s21.62-17.42,6.76-26.45c-8.08-7.34-19.7,8.15-22.13,19.72l-.85-1s-23.26,35.53-54.63,17.86a43,43,0,0,1-4.84-8.83,39.93,39.93,0,0,0-11-15.42l-3.19-8.33-5.69-4.69c0-6.74.22-14.85,1-22q.07-.68.15-1.35c11-4.37,18.76-14.73,18.76-26.82a27.82,27.82,0,0,0-2.84-8.26c4.45-5.09,7.68-8,6.72-18-.75-4.65-4.72-7.68-9.48-9.82-4.58-2.32-10.18-3.68-14.37-4.82-7.71-2.09-16.13-3.08-23.63-.37-8.4,4.47-20.06,9.62-29.7,18.31-7.62,6.87-16,18.83-25,24S328.2,322.61,324.71,332c-4.92,13.28,1.82,27.55,4.86,41.33a79.42,79.42,0,0,1-3.82,46.43c-5.9,14.75-16.45,29.16-13.86,44.75,2,11.84,11.37,21,22.9,26.29A57.8,57.8,0,0,0,351,496c9.71,1.59,20.08,1.08,29.05-2.59a107.73,107.73,0,0,1-16.21,30c-6.65,8.46-6,13.06-.8,13.5q-.31,1.19-.58,2.53c-1.91,9.37-2.52,24.7.7,49.78,8.11,63.23-9.46,82.58-9.46,82.58s1.88.66,5.28,1.64q-.21.57-.42,1.17c-3.72,10.56-7.24,29.16-.8,54,7.67,26.7,9.92,39,10.57,44.28l0,.31c-.77.3-3.57,1.63-5.63,5.78a16.42,16.42,0,0,0,2.46,18v24.5h3.38V800.83a58.32,58.32,0,0,1,7.57,11.51,26.11,26.11,0,0,0,20.14,14.26c8.7,1.18,18.3,1.61,22.3-1.26,0,0,3-5.65-11.35-8.5l-.8-.18c-4.72-6.88-8-18.82-13.1-28.19a78.33,78.33,0,0,0-3.7-16.89h0A49.62,49.62,0,0,1,389,754.83c-1-13.29-2.74-42.42-.16-48.85,1.74-4.33,2.77-15.2,3.35-24.7,0-.43.05-.86.08-1.28a188.88,188.88,0,0,0,45.23.33v6.3s-6.08,19.36,6.08,47.1c0,0,16.49,25.19,20.22,40.07q.16.64.29,1.25c-2.21.26-11.95,2.55-8.34,23.19l-.68,27.1h3.38l.68-23.87s3.38-5.81,14.87,6.45q2.61,2.79,4.72,5.17a41.93,41.93,0,0,0,32.82,13.84c7.38-.26,14.43-1,17.19-2.88,0,0,6.76-5.16-10.14-7.74L510.81,814l-.29,0-1.11-1.24c-5.9-6.68-14.47-18-16.66-29.5a53,53,0,0,0-3.66-11.52l-6.32-14.22L467.9,681.46s.78-3.34,1.54-7.43c.08-.45.17-.92.25-1.38l2.26-.87s13.52-9.68-6.76-68.39c0,0-7.88-32.7-11.87-58.75l9.84-1.89s-1.52-23-4.55-39c2-7.5,3.1-14,1.85-17.18a29.93,29.93,0,0,1-1.72-9,206.09,206.09,0,0,0-2.23-20.71l12.73,9,64.2,31c-2.46-5.06-2.85-9.21-2.14-8.56,4.68,6.69,17.1,21.62,27.82,9.33C570.06,481.2,549.16,475,540.77,473.09Z"
              transform="translate(-96.51 -5.43)"
              fill="url(#0bbb0783-00db-46b0-92e3-e6ca2c0b643f-2545)"
            />
            <path
              d="M531.63,473.3s33.09,5.73,20.36,21-28-8.09-28-8.09Z"
              transform="translate(-96.51 -5.43)"
              fill="#f8bdc5"
            />
            <path
              d="M421.54,374.67s16.54,7.64,22.27,23.54,31.82,39.45,42.63,45.82,49.63,29.27,49.63,29.27-16.54,6.36-8.27,24.18l-60.45-30.54L440,446.58Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M421.54,374.67s16.54,7.64,22.27,23.54,31.82,39.45,42.63,45.82,49.63,29.27,49.63,29.27-16.54,6.36-8.27,24.18l-60.45-30.54L440,446.58Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M678.25,7.9s-72.88-26.62-150.38,95.21c0,0-32.58,68-105.38,67.73l-7.8-17.78L400,158.83l197,450,14.86-4.77L519.08,390.92c30.78-2.36,99.37-24.52,161.93-162.65,0,0,56.2-104.9,138.5-92.5Z"
              transform="translate(-96.51 -5.43)"
              fill="url(#307dda9f-981d-4ff4-9930-3a0d53b6cae3-2546)"
            />
            <path
              d="M410.51,172.8,506,388.74s92.6,22.6,174.6-158.44c0,0,55-102.61,135.48-90.48L677.94,14.73s-71.3-26-147.1,93.14C530.83,107.87,493.85,185.8,410.51,172.8Z"
              transform="translate(-96.51 -5.43)"
              fill="#5d76b7"
            />
            <polygon
              points="435.62 142.44 440.26 155.38 431.33 164.25 441.74 162.97 445.63 174.81 448.71 161.37 458.4 160.59 449.81 153.62 451.8 140.94 444.21 149.42 435.62 142.44"
              fill="#ffd037"
            />
            <polygon
              points="455.1 103.68 459.23 115.89 451.42 125.6 460.71 123.47 465.69 134.56 466.93 120.79 477.09 119.14 468.28 113.4 470.16 101.33 463.91 109.42 455.1 103.68"
              fill="#ffd037"
            />
            <polygon
              points="484.53 80.09 489 90.45 481.33 101.14 490.49 98.04 494.96 108.4 497.93 95.58 508.46 93.68 498.66 88.07 502 75 493.82 84.96 484.53 80.09"
              fill="#ffd037"
            />
            <polygon
              points="517.42 79.4 521.9 89.76 512.6 98.89 523.24 96.37 527.35 106.98 530.69 93.91 541.47 92.38 532.68 88.23 535.76 74.79 526.72 84.28 517.42 79.4"
              fill="#ffd037"
            />
            <polygon
              points="544.77 98.7 549.24 109.06 539.95 118.19 550.59 115.67 554.7 126.28 558.03 113.21 568.81 111.68 560.02 107.53 563.11 94.09 554.06 103.58 544.77 98.7"
              fill="#ffd037"
            />
            <polygon
              points="559.4 128.41 563.87 138.77 554.58 147.9 565.21 145.38 569.33 155.99 572.66 142.92 583.44 141.39 574.65 137.24 577.74 123.8 568.69 133.29 559.4 128.41"
              fill="#ffd037"
            />
            <polygon
              points="552.35 175.81 557.33 186.9 548.48 200.56 559.2 195.83 563.79 205.57 566.01 191.66 577.35 187.04 567.33 182.67 569.43 169.38 562.6 178.95 552.35 175.81"
              fill="#ffd037"
            />
            <polygon
              points="536.29 220.29 540.18 232.13 532.42 245.03 542.78 240.56 547.14 251.54 549.22 236.64 558.96 232.06 550.17 227.91 552.5 213.38 545.19 223.82 536.29 220.29"
              fill="#ffd037"
            />
            <polygon
              points="505.57 247.46 509.59 260.28 500.21 271.62 509.5 269.49 513.62 280.11 516.7 266.67 526.33 262.7 518.75 257.18 520.83 242.29 513.77 253.09 505.57 247.46"
              fill="#ffd037"
            />
            <polygon
              points="473.85 252.18 477.51 265.25 467.7 273.65 477.64 273.23 480.52 283.62 484.36 271.27 495.25 269.8 487.28 262.26 489.16 250.19 482.05 257.81 473.85 252.18"
              fill="#ffd037"
            />
            <polygon
              points="445.07 228.48 448.85 240.94 436.83 249.25 449.49 249.65 451.92 262.5 456.71 248.42 468.61 247.72 459.66 241 463.44 225.46 452.8 234.98 445.07 228.48"
              fill="#ffd037"
            />
            <polygon
              points="433.78 185.7 437.56 198.16 425.54 206.47 438.2 206.86 440.63 219.72 445.42 205.63 457.32 204.94 448.36 198.22 452.15 182.68 441.51 192.19 433.78 185.7"
              fill="#ffd037"
            />
            <path
              d="M636.68,183.14l-22-24.47a3.83,3.83,0,0,0-5.41-.29L607.5,160l-9.2-10.25a9.75,9.75,0,0,0-13.77-.74l-8,10.77a9.75,9.75,0,0,0-.74,13.77l9.2,10.25-1.79,1.61a3.83,3.83,0,0,0-.29,5.41l22,24.47a3.83,3.83,0,0,0,5.41.29l30.08-27A3.83,3.83,0,0,0,636.68,183.14ZM576.07,173a9.75,9.75,0,0,1,.74-13.77l6.75-6.06a9.75,9.75,0,0,1,13.77.74l7.55,8.41-21.26,19.08Zm34.08,13.86,3.56,4a2.14,2.14,0,1,1-3.19,2.87l-3.76-4.19a5.2,5.2,0,1,1,3.39-2.65Z"
              transform="translate(-96.51 -5.43)"
              fill="url(#7f05ddf0-0286-4412-8910-1e0b2c479f08-2547)"
            />
            <path
              d="M585.31,150.45l-11.39,10.23a9.26,9.26,0,0,0-.7,13.08l9.65,10.75,2.49-2.24-8.08-9a9.26,9.26,0,0,1,.7-13.08l6.41-5.75a9.26,9.26,0,0,1,13.08.7l8.08,9,2.49-2.24-9.65-10.75A9.26,9.26,0,0,0,585.31,150.45Z"
              transform="translate(-96.51 -5.43)"
              fill="#f0f5fa"
            />
            <path
              d="M608.82,159.37,580.25,185a3.64,3.64,0,0,0-.28,5.14l20.87,23.24a3.64,3.64,0,0,0,5.14.28L634.56,188a3.64,3.64,0,0,0,.28-5.14L614,159.65A3.64,3.64,0,0,0,608.82,159.37Zm.81,27.05,3.38,3.77a2,2,0,1,1-3,2.72l-3.57-4a4.94,4.94,0,1,1,3.22-2.51Z"
              transform="translate(-96.51 -5.43)"
              fill="#f0f5fa"
            />
            <polygon
              points="309.21 156.95 501.22 595.5 515.75 590.83 323.61 151.3 309.21 156.95"
              fill="#f0f5fa"
            />
            <path
              d="M499.81,393.12s7.64-31.18,21.64-22.27-6.36,26.09-6.36,26.09l-5.73,7Z"
              transform="translate(-96.51 -5.43)"
              fill="#f8bdc5"
            />
            <polygon
              points="326.69 359.16 333.94 365.42 337 377.84 332.03 374.96 332.03 365.42 326.68 364.78 326.69 359.16"
              fill="#dedff7"
            />
            <polygon
              points="326.69 359.16 333.94 365.42 337 377.84 332.03 374.96 332.03 365.42 326.68 364.78 326.69 359.16"
              opacity="0.1"
            />
            <path
              d="M444.77,490.48,449,545.21l12.65-2.55s-2.81-44.54-8.43-52.18S444.77,490.48,444.77,490.48Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M444.77,490.48,449,545.21l12.65-2.55s-2.81-44.54-8.43-52.18S444.77,490.48,444.77,490.48Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M413.9,814.38l-20.36,3.18-11.45-8.91-8.27-26.09V773a21.06,21.06,0,0,0-.23-3.42c-.61-5.17-2.73-17.33-10-43.67-6.71-24.47-3.39-42.81.11-53.22a47.11,47.11,0,0,1,4.34-9.77h27.36s-.15,7.59-.66,16.36c-.55,9.37-1.51,20.1-3.16,24.37-2.44,6.34-.77,35.07.15,48.18a51,51,0,0,0,2.49,8.56h0a80.4,80.4,0,0,1,3.49,16.66c1,9.25,7.89,21,8.33,27.81C412.3,812.24,413.9,814.38,413.9,814.38Z"
              transform="translate(-96.51 -5.43)"
              fill="#f8bdc5"
            />
            <path
              d="M510.63,815l-8.91,2.55-17.18-7L462.9,787.65V774.93a24.28,24.28,0,0,0-.69-4.38c-3.51-14.68-19-39.52-19-39.52-11.45-27.36-5.73-46.45-5.73-46.45V664.84s29.91-10.18,31.18-6.36c.71,2.14-.18,8.51-1.09,13.67-.72,4-1.45,7.32-1.45,7.32l14,75.09,5.95,14a54,54,0,0,1,3.44,11.36c2.07,11.31,10.14,22.5,15.69,29.09C508.3,812.76,510.63,815,510.63,815Z"
              transform="translate(-96.51 -5.43)"
              fill="#f8bdc5"
            />
            <path
              d="M413.9,814.38l-20.36,3.18-11.45-8.91-8.27-26.09V773a21.06,21.06,0,0,0-.23-3.42,4.76,4.76,0,0,1,.87-.4s2.55,9.55,1.27,14c-1,3.55,7.67,16.81,11.24,22A15.07,15.07,0,0,0,394.3,811c6.95,2.46,13.62-.86,15.8-2.14C412.3,812.24,413.9,814.38,413.9,814.38Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M410.21,809s-8.06,5.62-16.55,2.61a15.06,15.06,0,0,1-7.33-5.78c-3.57-5.23-8.26-18.49-11.24-22,1.27-4.45-1.27-14-1.27-14s-3.23,1-5.5,5.78a16.81,16.81,0,0,0,2.32,17.78v24.16h3.18V797.21a57.84,57.84,0,0,1,7.13,11.35,24.67,24.67,0,0,0,19,14.06c8.19,1.16,17.23,1.59,21-1.24C420.9,821.38,423.7,815.81,410.21,809Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M510.63,815l-8.91,2.55-17.18-7L462.9,787.65V774.93a24.28,24.28,0,0,0-.69-4.38,4.71,4.71,0,0,1,.69-.07c0,3.31,5.64,11.19,9.6,16.3a99.84,99.84,0,0,1,5.77,8.35c8.24,13.28,22.51,14,26.9,13.92C508.3,812.76,510.63,815,510.63,815Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M462.9,771.74s-8.09,0-8.27,22.91L454,821.38h3.18l.64-23.54s3.18-5.73,14,6.36q2.46,2.75,4.45,5.1a38.65,38.65,0,0,0,30.91,13.65c6.94-.26,13.59-1,16.19-2.84,0,0,6.36-5.09-9.55-7.64l-7.32-2.23s-18.39,2-28.22-13.85A98.87,98.87,0,0,0,472.5,788C468.55,782.93,462.9,775.05,462.9,771.74Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M368.09,662.93h27.36s-.15,7.59-.66,16.36a193.24,193.24,0,0,1-31-6.59A47.11,47.11,0,0,1,368.09,662.93Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M467.53,672.15a126.66,126.66,0,0,1-30.09,7.48V664.84s29.91-10.18,31.18-6.36C469.34,660.62,468.45,667,467.53,672.15Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M469.9,669.93c-52.18,21.64-110.72,0-110.72,0s16.54-19.09,8.91-81.45c-3-24.73-2.46-39.85-.66-49.1,2.73-14.07,8.29-14.53,8.29-14.53l75.09-8.91c-.67,2.55-.71,6.85-.34,8.2,1.79,25.34,13.06,74.34,13.06,74.34C482.63,660.39,469.9,669.93,469.9,669.93Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M429.81,328.85c-1.94,2.91-3.11,8.85-3.81,15.69-1.57,15.58-.65,35.85-.65,35.85s-38.82,21-29.91-6.36A68.36,68.36,0,0,0,391,323.13S436.18,319.31,429.81,328.85Z"
              transform="translate(-96.51 -5.43)"
              fill="#f8bdc5"
            />
            <path
              d="M429.81,328.85c-1.94,2.91-3.11,8.85-3.81,15.69a28.64,28.64,0,0,1-29-4.4,65.09,65.09,0,0,0-6-17S436.18,319.31,429.81,328.85Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <circle cx="318.66" cy="311.33" r="28.64" fill="#f8bdc5" />
            <path
              d="M450.47,528.14c-3.49,9.58-6.66,17.07-6.66,17.07S413.9,519.75,391,531.85c-10.81,5.7-19.06,8.15-23.56,7.53,2.73-14.07,8.29-14.53,8.29-14.53l75.09-8.91C450.14,518.49,450.1,522.78,450.47,528.14Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M443.81,542.66S413.9,517.21,391,529.3s-34.36,9.55-22.91-5.73,26.73-47.73,15.27-71.91-15.91-62.36-7-72.54,17.18-21.64,17.18-24.18c0,0,32.45,23.54,38.82,33.09,1.83,2.74,4.82,9.74,8.14,18.33,1.79,4.64,3.69,9.74,5.56,14.88a189.19,189.19,0,0,1,7.1,24.7,208.84,208.84,0,0,1,4.31,32.5,30.76,30.76,0,0,0,1.62,8.86C462.9,497.48,443.81,542.66,443.81,542.66Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M430.45,371.49l-.75,13.28-36.74-28s-.7-5.62,8.85.1S430.45,371.49,430.45,371.49Z"
              transform="translate(-96.51 -5.43)"
              fill="#dedff7"
            />
            <path
              d="M453.15,445.94c-33.61.62-71.7-36.91-71.7-36.91-13.36-35.63,31.82-28,31.82-28s3.72,9.58,27.23,25.33c1.79,4.64,3.69,9.74,5.56,14.88A189.19,189.19,0,0,1,453.15,445.94Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M381.45,404.58s43.27,42.63,78.27,36.27c0,0,41.36-10.18,57.91-33.09,0,0-10.82-9.55-17.82-18.45,0,0-22.27,35.63-52.18,17.18s-34.36-29.91-34.36-29.91S368.09,368.94,381.45,404.58Z"
              transform="translate(-96.51 -5.43)"
              fill="#575988"
            />
            <path
              d="M426.28,273.13c-7.26-2.06-15.19-3-22.25-.37-11.68,4.41-18.89,9.49-28,18.06-7.18,6.77-15.08,18.57-23.53,23.65s-16.71,11.7-20,21c-4.63,13.1,1.71,27.17,4.58,40.76a81.81,81.81,0,0,1-3.6,45.79c-5.56,14.54-15.49,28.76-13,44.14,2.61,16.45,19.8,27.61,35.53,30.42,11.18,1.92,23.28.74,32.78-5.44a20,20,0,0,0,6.6-6.5c4.05-7,1.39-15.81-1.11-23.51-5.8-15.77-9.16-31.87-13.21-47.95-2.36-9.39-4.7-19.46-1.36-28.55,3.26-8.87,11.39-15.08,19.89-19.22,3.33-1.62,6.88-3.08,9.38-5.8a16.13,16.13,0,0,0,3.13-5.31c4.28-11.41-.52-26.13,7.74-35.1,4.2-4.56,10.67-6.14,15.85-9.55,6.54-4.31,13-14.49,11.77-22.75C446.13,278.2,433.79,275.26,426.28,273.13Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M425,272.49c-7.26-2.06-15.19-3-22.25-.37-11.68,4.41-18.89,9.49-28,18.06-7.18,6.77-15.08,18.57-23.53,23.65s-16.71,11.7-20,21c-4.63,13.1,1.71,27.17,4.58,40.76a81.81,81.81,0,0,1-3.6,45.79c-5.56,14.54-15.49,28.76-13,44.14,2.61,16.45,19.8,27.61,35.53,30.42,11.18,1.92,23.28.74,32.78-5.44a20,20,0,0,0,6.6-6.5c4.05-7,1.39-15.81-1.11-23.51-5.8-15.77-9.16-31.87-13.21-47.95-2.36-9.39-4.7-19.46-1.36-28.55,3.26-8.87,11.39-15.08,19.89-19.22,3.33-1.62,6.88-3.08,9.38-5.8a16.13,16.13,0,0,0,3.13-5.31c4.28-11.41-.52-26.13,7.74-35.1,4.2-4.56,10.67-6.14,15.85-9.55,6.54-4.31,13-14.49,11.77-22.75C444.86,277.57,432.52,274.62,425,272.49Z"
              transform="translate(-96.51 -5.43)"
              fill="#eb6475"
            />
            <path
              d="M209.19,686.35s-13.26-45,2.49-78.14a71.09,71.09,0,0,0,5.75-44.6,119.57,119.57,0,0,0-6.31-20.93"
              transform="translate(-96.51 -5.43)"
              fill="none"
              stroke="#535461"
              stroke-miterlimit="10"
              stroke-width="2"
            />
            <path
              d="M220.9,521.74c0,5.52-10,21.51-10,21.51s-10-16-10-21.51a10,10,0,0,1,20,0Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M237.41,552.29c-3,4.63-20.08,8.63-20.08,8.63s.31-18.86,3.31-23.49a10,10,0,0,1,16.77,10.86Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M236.69,604.51c-4.93,2.48-23.71.77-23.71.77s9.79-16.8,14.71-18.6a10,10,0,0,1,9,17.84Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M227.25,643.9c-4.44,3.28-23.24,4.76-23.24,4.76s6.92-17.54,11.36-20.82a10,10,0,0,1,11.88,16.06Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M196.37,566c4,3.84,22.39,7.83,22.39,7.83s-4.51-18.31-8.47-22.15A10,10,0,1,0,196.37,566Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M185.91,612.19c4.93,2.48,23.71.77,23.71.77s-9.79-16.8-14.71-18.6a10,10,0,1,0-9,17.84Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M181.9,658.49c4.44,3.28,23.24,4.76,23.24,4.76s-6.92-17.54-11.36-20.82a10,10,0,0,0-11.88,16.06Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M577.66,814.74a11.67,11.67,0,0,0,3.83-5.78c.5-2.3-.48-5.05-2.68-5.89-2.46-.94-5.09.76-7.08,2.49s-4.28,3.69-6.89,3.32a10.48,10.48,0,0,0,3.24-9.81,4.1,4.1,0,0,0-.9-2c-1.37-1.46-3.84-.83-5.48.32-5.2,3.66-6.65,10.72-6.68,17.08-.52-2.29-.08-4.68-.1-7s-.66-5-2.64-6.22a8,8,0,0,0-4-.95c-2.34-.09-4.94.15-6.54,1.86-2,2.8-1.47,5.69.26,8s4.35,3.8,6.77,5.42a15,15,0,0,1,4.84,4.61,4.57,4.57,0,0,1,.36.82h14.65A40.83,40.83,0,0,0,577.66,814.74Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M774.38,433.87s-41.84,41.84-18.22,103.92-40.49,165.32-40.49,165.32.69-.1,2-.32c85.93-15.17,128.62-113.44,80.84-186.45C780.71,489.19,766.13,457.35,774.38,433.87Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M774.38,434.56s-41.84,41.84-18.22,103.92S715.67,703.8,715.67,703.8s.69-.1,2-.32C803.56,688.31,846.25,590,798.47,517,780.71,489.89,766.13,458,774.38,434.56Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.1"
            />
            <path
              d="M774.38,433.87s-23.62,51.28,0,93.8,4,159.25-58.71,176.8"
              transform="translate(-96.51 -5.43)"
              fill="none"
              stroke="#535461"
              stroke-miterlimit="10"
            />
            <path
              d="M848.89,603.08s-47.74-7.6-52.09,35.18S705,687,705,687l1.64,1.09c72.2,47.4,141.23,30.19,130.82-32.75C833.6,631.93,833.91,608.43,848.89,603.08Z"
              transform="translate(-96.51 -5.43)"
              fill="#63ffd6"
            />
            <path
              d="M848.89,603.08s-37.06,8.13-34,41.83S759.85,719,705,687"
              transform="translate(-96.51 -5.43)"
              fill="none"
              stroke="#535461"
              stroke-miterlimit="10"
            />
            <path
              d="M806.89,688.54S769.29,681,759.26,671s-55.15-27.57-60.16-15S631.42,711.1,674,718.62s100.27,10,112.8,5S806.89,688.54,806.89,688.54Z"
              transform="translate(-96.51 -5.43)"
              fill="#a8a8a8"
            />
            <path
              d="M674,714c42.62,7.52,100.27,10,112.8,5,9.55-3.82,16.18-22.16,18.8-30.7l1.25.26s-7.52,30.08-20.05,35.09-70.19,2.51-112.8-5c-8.3-2.17-15.82-7.27-14.49-13.72C660.59,709.11,664.88,712.35,674,714Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.2"
            />
            <path
              d="M179.36,683.8s22.41-.69,29.16-5.5,34.47-10.55,36.14-2.84S278.33,713.82,253,714s-58.78-3.94-65.52-8S179.36,683.8,179.36,683.8Z"
              transform="translate(-96.51 -5.43)"
              fill="#a8a8a8"
            />
            <path
              d="M253.48,711.34c-25.3.2-58.78-3.94-65.52-8-5.13-3.13-7.18-14.34-7.86-19.52l-.75,0s1.42,18.07,8.16,22.18,40.22,8.25,65.52,8c7.3-.06,9.82-2.66,9.69-6.5C261.7,709.84,258.92,711.29,253.48,711.34Z"
              transform="translate(-96.51 -5.43)"
              opacity="0.2"
            />
          </svg>
        </a>

          <div class="">
           
            <p class="text-gray-600 dark:text-gray-300" transition:name="titeGDPR">
                GDPR
            </p>
          </div>
          <a href="/gdpr" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm text-green-500">Pogledaj više</span>
          <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
      class="group relative rounded-xl dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
    >
      <div
        class="relative rounded-2xl  py-8 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <a href="/CISO">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            transition:name="CISO"
            data-name="Layer 1"
            class=""
            viewBox="0 0 855.41839 610.77534"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M990.63733,719.30506l1.22492-.02393a284.08018,284.08018,0,0,0-4.34823-40.59824c-5.29683-28.71268-14.10454-47.56977-26.17851-56.04732l-.70337,1.00242C988.837,643.44128,990.623,718.54845,990.63733,719.30506Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M975.32581,719.012l1.22492-.02393c-.02633-1.3565-.79191-33.32647-13.37783-42.16289l-.70338,1.00243C974.54768,686.30755,975.31983,718.686,975.32581,719.012Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <circle
              cx="766.66361"
              cy="438.12463"
              r="6.12461"
              fill="#f1f1f1"
            />
            <circle cx="769.6966" cy="490.79626" r="6.12461" fill="#f1f1f1" />
            <path
              d="M978.18063,627.42068a27.20481,27.20481,0,0,0,1.849,13.92772,24.79288,24.79288,0,0,0,4.16825-26.62395A27.20511,27.20511,0,0,0,978.18063,627.42068Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M958.161,645.27624a27.20484,27.20484,0,0,0,14.03685.6061,24.79294,24.79294,0,0,0-25.49041-8.74345A27.205,27.205,0,0,0,958.161,645.27624Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M957.93488,691.92193a19.06866,19.06866,0,0,0,9.83869.42484,17.37777,17.37777,0,0,0-17.86669-6.12845A19.06838,19.06838,0,0,0,957.93488,691.92193Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M469.0259,719.30505l-1.77793-.03472a412.33109,412.33109,0,0,1,6.31131-58.927c7.68816-41.67549,20.47226-69.04591,37.99721-81.3508l1.02092,1.455C471.639,609.19135,469.04674,718.20687,469.0259,719.30505Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M491.25005,718.87967l-1.77793-.03473c.03822-1.96892,1.14943-48.37224,19.41748-61.198l1.02092,1.455C492.37949,671.41028,491.25873,718.40654,491.25005,718.87967Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <circle
              cx="335.69201"
              cy="392.21935"
              r="8.88967"
              fill="#f1f1f1"
            />
            <circle
              cx="331.28971"
              cy="468.67043"
              r="8.88966"
              fill="#f1f1f1"
            />
            <path
              d="M487.10638,585.938a39.487,39.487,0,0,1-2.68371,20.21562,35.986,35.986,0,0,1-6.05007-38.64376A39.48723,39.48723,0,0,1,487.10638,585.938Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M516.16415,611.85472a39.48692,39.48692,0,0,1-20.374.87974,35.98608,35.98608,0,0,1,36.99847-8.69082A39.48714,39.48714,0,0,1,516.16415,611.85472Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M516.4924,679.55937a27.67754,27.67754,0,0,1-14.28053.61664,25.22328,25.22328,0,0,1,25.93291-8.89525A27.67726,27.67726,0,0,1,516.4924,679.55937Z"
              transform="translate(-187 -179.5)"
              fill="#f1f1f1"
            />
            <path
              d="M331.67889,340.73408l-4.27749-26.16824L315.324,311.54641s-9.58554-2.95248-11.826,16.35507c-2.24042,19.30769-.50354,55.35612-.50354,55.35612l-26.51674,83.97065a11.72858,11.72858,0,1,0,16.19395,6.98492l34.47824-78.87785Z"
              transform="translate(-187 -179.5)"
              fill="#ffb7b7"
            />
            <path
              d="M405.12225,320.14111l-6.34067-25.74625,9.922-7.519s7.65649-6.479,17.29787,10.39832c9.64144,16.87747,22.198,50.71293,22.198,50.71293l57.35734,66.81575a11.72861,11.72861,0,1,1-8.15092,8.78235L430.726,368.57925Z"
              transform="translate(-187 -179.5)"
              fill="#ffb7b7"
            />
            <polygon
              points="267.689 526.093 282.072 526.092 288.915 470.614 267.686 470.615 267.689 526.093"
              fill="#ffb7b7"
            />
            <path
              d="M451.01987,700.89677l28.32581-.00115h.00115a18.05238,18.05238,0,0,1,18.05142,18.05114v.5866l-46.37752.00172Z"
              transform="translate(-187 -179.5)"
              fill="#2f2e41"
            />
            <polygon
              points="87.016 526.093 101.399 526.092 108.242 470.614 87.013 470.615 87.016 526.093"
              fill="#ffb7b7"
            />
            <path
              d="M270.34694,700.89677l28.32581-.00115h.00115a18.05238,18.05238,0,0,1,18.05142,18.05114v.5866l-46.37752.00172Z"
              transform="translate(-187 -179.5)"
              fill="#2f2e41"
            />
            <circle
              cx="175.23009"
              cy="52.43113"
              r="38.90176"
              fill="#2f2e41"
            />
            <ellipse
              cx="323.32833"
              cy="202.41945"
              rx="16.09728"
              ry="8.07296"
              transform="translate(-235.43149 108.41494) rotate(-45)"
              fill="#2f2e41"
            />
            <ellipse
              cx="387.97281"
              cy="192.27914"
              rx="8.07296"
              ry="16.09728"
              transform="translate(-128.2553 294.03173) rotate(-66.86956)"
              fill="#2f2e41"
            />
            <circle
              cx="363.46387"
              cy="241.21787"
              r="33.01551"
              transform="translate(-209.53283 264.93844) rotate(-61.33682)"
              fill="#ffb7b7"
            />
            <path
              d="M328.77225,220.45121a44.90373,44.90373,0,0,0,25.66215,7.93072,27.51736,27.51736,0,0,1-10.9065,4.487,90.54536,90.54536,0,0,0,36.98491.20781,23.937,23.937,0,0,0,7.74243-2.65919,9.79832,9.79832,0,0,0,4.779-6.39139c.81144-4.63558-2.80066-8.84711-6.55444-11.68544a48.34817,48.34817,0,0,0-40.62844-8.11869c-4.53846,1.17313-9.085,3.15525-8.03283,6.8s-3.82105,9.26372-1.01249,13.01683Z"
              transform="translate(-187 -179.5)"
              fill="#2f2e41"
            />
            <path
              d="M346.91765,284.15122l-32.6779,26.687,28.55215,68.079.54464,10.89263s-29.63979,27.328-47.97909,103.66828-55.37958,177.77807-55.37958,177.77807l74.10071,18.12764,51.52065-172.68961,65.6767,135.48025,9.343,40.07162,57.28023-15.90144L475.79244,568.80829,421.5723,401.88576l4.4524-46.11417s9.92186-23.01733-7.31466-47.38628l-5.40649-22.89807L385.317,280.71681Z"
              transform="translate(-187 -179.5)"
              fill="#2f2e41"
            />
            <path
              d="M896.41455,526.4292H669.54305a6.84142,6.84142,0,0,1-6.83348-6.83348v-76.535a6.84142,6.84142,0,0,1,6.83348-6.83348h226.8715a6.84131,6.84131,0,0,1,6.83348,6.83348v76.535A6.84131,6.84131,0,0,1,896.41455,526.4292Z"
              transform="translate(-187 -179.5)"
              fill="#e5e5e5"
            />
            <rect
              x="511.24366"
              y="277.22771"
              width="60.13462"
              height="6.83348"
              fill="#fff"
            />
            <circle cx="650.64663" cy="281.3278" r="4.10009" fill="#63ffd6" />
            <circle cx="664.31359" cy="281.3278" r="4.10009" fill="#63ffd6" />
            <circle cx="677.98055" cy="281.3278" r="4.10009" fill="#63ffd6" />
            <path
              d="M896.41455,623.4646H669.54305a6.84142,6.84142,0,0,1-6.83348-6.83348v-76.535a6.84142,6.84142,0,0,1,6.83348-6.83348h226.8715a6.84131,6.84131,0,0,1,6.83348,6.83348v76.535A6.84131,6.84131,0,0,1,896.41455,623.4646Z"
              transform="translate(-187 -179.5)"
              fill="#e5e5e5"
            />
            <rect
              x="511.24366"
              y="374.26311"
              width="60.13462"
              height="6.83348"
              fill="#fff"
            />
            <circle cx="650.64663" cy="378.3632" r="4.10009" fill="#63ffd6" />
            <circle cx="664.31359" cy="378.3632" r="4.10009" fill="#63ffd6" />
            <circle cx="677.98055" cy="378.3632" r="4.10009" fill="#63ffd6" />
            <path
              d="M896.41455,720.5H669.54305a6.84142,6.84142,0,0,1-6.83348-6.83348v-76.535a6.84142,6.84142,0,0,1,6.83348-6.83348h226.8715a6.84131,6.84131,0,0,1,6.83348,6.83348v76.535A6.84131,6.84131,0,0,1,896.41455,720.5Z"
              transform="translate(-187 -179.5)"
              fill="#e5e5e5"
            />
            <rect
              x="511.24366"
              y="471.29851"
              width="60.13462"
              height="6.83348"
              fill="#fff"
            />
            <circle cx="650.64663" cy="475.3986" r="4.10009" fill="#63ffd6" />
            <circle cx="664.31359" cy="475.3986" r="4.10009" fill="#63ffd6" />
            <circle cx="677.98055" cy="475.3986" r="4.10009" fill="#63ffd6" />
            <path
              d="M624.16975,555.4751a51.65758,51.65758,0,0,1-8.80592-1.65653l-.82437-.22809-.76473-.38315c-27.64741-13.86188-50.972-32.17148-69.32613-54.42051A206.01576,206.01576,0,0,1,505.445,436.63119a239.23058,239.23058,0,0,1-13.52819-84.27411c.01166-.60191.02157-1.06666.02157-1.38685,0-13.93921,7.73735-26.16983,19.7117-31.15922,9.1646-3.81859,92.37477-37.99632,98.38691-40.46576,11.3225-5.6733,23.40157-.938,25.33457-.11,4.3358,1.77271,81.25852,33.235,97.88147,41.15044,17.13161,8.15789,21.7025,22.81326,21.7025,30.18661,0,33.38152-5.78132,64.57921-17.18348,92.72653a214.70835,214.70835,0,0,1-38.585,62.18361c-31.49806,35.44645-63.00448,48.01241-63.30855,48.12316A34.42708,34.42708,0,0,1,624.16975,555.4751ZM616.76046,537.122c2.73154.61241,9.02035,1.531,13.11931.03575,5.20719-1.899,31.57753-15.57359,56.21984-43.30474,34.04717-38.315,51.32274-86.48008,51.348-143.15748-.06081-1.14826-.87625-9.338-11.72177-14.50227-16.30062-7.76232-96.25525-40.45566-97.061-40.78518l-.2209-.09365c-1.67557-.70216-7.00808-2.18111-10.68387-.25491l-.736.34312c-.89121.366-89.21978,36.64445-98.64007,40.56951-6.58977,2.74572-8.93768,9.54785-8.93768,14.9981,0,.3983-.0103.97768-.02487,1.72647C508.66861,391.47757,517.64272,486.90515,616.76046,537.122Z"
              transform="translate(-187 -179.5)"
              fill="#3f3d56"
            />
            <path
              d="M613.69824,287.305s-89.13138,36.60753-98.68117,40.58661-14.32468,13.52887-14.32468,23.07866S493.53,485.132,613.69824,545.38167c0,0,10.90644,3.01772,19.181,0s113.32231-53.94993,113.32231-194.80934c0,0,0-14.32469-16.71214-22.28285S631.97694,287.305,631.97694,287.305,622.05431,282.928,613.69824,287.305Z"
              transform="translate(-187 -179.5)"
              fill="#63ffd6"
            />
            <path
              d="M623.248,315.95433V511.24254s89.9272-43.28737,89.13138-157.089Z"
              transform="translate(-187 -179.5)"
              opacity="0.2"
            />
            <path
              d="M1012,720.5H188a1,1,0,0,1,0-2h824a1,1,0,0,1,0,2Z"
              transform="translate(-187 -179.5)"
              fill="#cbcbcb"
            />
          </svg>
        </a>

          <div class="">
          

            <p class="text-gray-600 dark:text-gray-300" transition:name="CISOTitle">
           CISO
            </p>
          </div>
          <a href="ciso" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm text-green-500">Pogleda više</span>
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#43a047" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>