---
import Testimonial from './Testimonial.astro';
import Counters from './Counters.jsx'
import NewSlider from './NewSlider';
import Projects from './Projects.astro';
import Partners from './Partners.astro';
import MainHeroSection from './MainHeroSection.astro';
import Djelatnosti from './Djelatnosti.astro';
---

<MainHeroSection/>
  <!-- Partners section  -->
 
<Partners />
</section>

  <section class="py-20 ">
    <div class="mx-auto flex flex-col-reverse lg:flex-row justify-center items-center">
      <div class="text-gray-700 align-text-top p-4 lg:-mr-20">
        <Djelatnosti/>
      </div>



          <div class="px-5 text-gray-800 bg-gray-200 lg:w-1/2 h-full">
            <div class=" ">
                <div class="text-center w-full py-5 lg:py-[13rem]">
                    <h1 class="text-3xl lg:text-6xl max-w-lg mx-auto md:text-5xl font-bold mb-5 text-gray-700">Naše djelatnosti</h1>
                  
                    <div class="text-center mb-10">
                        <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                        <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                        <span class="inline-block w-40 h-1 rounded-full bg-green-500"></span>
                        <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                        <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                    </div>
                    <h3 class="text-base max-w-lg mx-auto mb-5 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          
            </div>
            
  </section>


    </div>
  </section>

  <div class="p-5 py-32 bg-gray-800 mt-32 pb-72">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      
        <div class="w-full">
            <Counters client:visible />
          </div>
          <div class="-ml-10 bg-gray-800 p-2">
            <!-- <h2 class="text-center text-white text-2xl font-semibold">Novi projekti</h2> -->
            <Projects/>
            <Projects/>
            <Projects/>
           
          </div> 
  
    </div>
    </div>


      <section class="flex flex-col md:flex-row items-center justify-center gap-x-10">
    <Testimonial
      text="njihova stručnost i brza reakcija na naše tehničke izazove čine ih neprocjenjivim partnerom. Njihova podrška olakšava nam svakodnevne poslovne operacije jer znamo da smo u dobrim rukama."
      author="John Doe"
      role="Web Developer"
      rating="3/5"
    />
    <!-- <Testimonial
      text="Pouzdanost njihovih usluga ključna je za naš uspjeh. Nikada se ne moramo brinuti o prekidima ili nesmetanom radu naših sustava i mreža. To nam omogućuje da se fokusiramo na svoje poslovanje i ostvarimo bolje rezultate."
      author="Jane Smith"
      role="Designer"
      rating="4/5"
    />
    <Testimonial
    text="Cijenimo personaliziranu podršku koju pružaju. S njima ne osjećamo se kao obični korisnici, već kao partneri. Njihova sposobnost da prilagode svoje usluge našim specifičnim potrebama čini ih neprocjenjivim članom našeg tima. Ova personalizacija olakšava suradnju i doprinosi našem dugoročnom uspjehu."
    author="Pero Perić"
    role="Designer"
    rating="5/5"
  /> -->

  </section>



  
    
 
  
</main>
 
