---
import Testimonial from './Testimonial.astro';
import Counters from './Counters.jsx'
import NewSlider from './NewSlider';
import Projects from './Projects.astro';
import Partners from './Partners.astro';
import MainHeroSection from './MainHeroSection.astro';
import Djelatnosti from './Djelatnosti.astro';
import CTA from './CTA.astro';
import Beyond from './Beyond.astro';
---

<MainHeroSection/>
  <!-- Partners section  -->
 
<Partners />
</section>

  <section class="py-10 ">
    <div class="mx-auto flex flex-col-reverse lg:flex-row justify-center items-center">
      <div class="text-gray-700 align-text-top p-4">
        <Djelatnosti/>
      </div>



          <div class="px-5 text-gray-800 bg-gray-900 h-full">
               <div class="relative ">
            <div
              aria-hidden="true"
              class="absolute inset-0 m-auto grid h-3/5 w-3/5 grid-cols-2 -space-x-52 opacity-40 dark:opacity-60"
            >
              <div
                class="h-full rounded-full bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"
              >
              </div>
              <div
                class="h-full bg-gradient-to-r from-cyan-400 to-primary blur-[106px] dark:to-indigo-600"
              >
              </div>
            </div>
            <div class=" ">
              <div class="text-center w-full py-5 lg:py-[13rem]">
                  <h1 class="text-3xl lg:text-6xl max-w-lg mx-auto md:text-5xl font-bold mb-5 text-white  relative">Naše djelatnosti</h1>
                
                  <div class="text-center mb-10">
                      <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                      <span class="inline-block w-40 h-1 rounded-full bg-green-500"></span>
                      <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
                      <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
                  </div>
                  <h3 class="text-base max-w-lg mx-auto mb-5 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        
          </div>
                   </div>
    
            
  </section>


    </div>
  </section>
<Beyond />
  <div class="p-5 py-10 mt-12 pb-22">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      
        <div class="w-full">
            <Counters client:visible />
          </div>
          <!-- <div class="-ml-10  p-2">
             <h2 class="text-center text-white text-2xl font-semibold">Novi projekti</h2> 
            <Projects/>
            <Projects/>
            <Projects/>
           
          </div>  -->
  
    </div>
    </div>

    <CTA/>


      <section class="flex flex-col md:flex-row items-center justify-center gap-x-10">
    <Testimonial
      text="njihova stručnost i brza reakcija na naše tehničke izazove čine ih neprocjenjivim partnerom. Njihova podrška olakšava nam svakodnevne poslovne operacije jer znamo da smo u dobrim rukama."
      author="John Doe"
      role="Web Developer"
      rating="3/5"
    />
    <!-- <Testimonial
      text="Pouzdanost njihovih usluga ključna je za naš uspjeh. Nikada se ne moramo brinuti o prekidima ili nesmetanom radu naših sustava i mreža. To nam omogućuje da se fokusiramo na svoje poslovanje i ostvarimo bolje rezultate."
      author="Jane Smith"
      role="Designer"
      rating="4/5"
    />
    <Testimonial
    text="Cijenimo personaliziranu podršku koju pružaju. S njima ne osjećamo se kao obični korisnici, već kao partneri. Njihova sposobnost da prilagode svoje usluge našim specifičnim potrebama čini ih neprocjenjivim članom našeg tima. Ova personalizacija olakšava suradnju i doprinosi našem dugoročnom uspjehu."
    author="Pero Perić"
    role="Designer"
    rating="5/5"
  /> -->





  
    
 
  
</main>
 
</div>