---
import Testimonial from './Testimonial.astro';
import Counters from './Counters.jsx'
import NewSlider from './NewSlider';
import Projects from './Projects.astro';
import Partners from './Partners.astro';
import MainHeroSection from './MainHeroSection.astro';
---

<MainHeroSection/>
  <!-- Partners section  -->
 
<Partners />
</section>

  <section class="flex flex-col justify-center lg:flex-row gap-20 md:gap-0 items-start p-4 rounded-lg shadow-sm md:py-20 xl:py-40">
    <div class="w-full lg:w-1/2 py-10 lg:py-0 mr-5">
  <NewSlider  client:visible/>
    </div>
    <div class="text-gray-700 align-text-top bg-gray-100 p-4 rounded-lg w-full lg:w-1/2 ">
      <h2 class="text-2xl lg:text-4xl font-semibold">Our Services</h2>
      <p class="mt-2 ">
        Discover the range of services we provide to help you achieve your goals. Our dedicated team of experts is committed to delivering high-quality solutions tailored to your specific needs.
      </p>
      <p class="mt-4">
        Whether it's information technologies, ICT infrastructure, energetics, ISO standards, GDPR compliance, or CISO externalization, we have you covered. We are here to support you every step of the way.
      </p>
    </div>
  </section>


    </div>
  </section>

  <div class="shadow-xl p-5">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-120">
      
        <div class="max-w-xl">
            <Counters client:visible />
          </div>
          <div class="max-w-2xl">
            <h2 class="text-center md:text-left text-white text-2xl font-semibold">Novi projekti</h2>
            <Projects/>
            <Projects/>
            <Projects/>
           
          </div> 
  
    </div>
    </div>


      <section class="flex flex-col md:flex-row items-center justify-center gap-x-10 py-20">
    <Testimonial
      text="njihova stručnost i brza reakcija na naše tehničke izazove čine ih neprocjenjivim partnerom. Njihova podrška olakšava nam svakodnevne poslovne operacije jer znamo da smo u dobrim rukama."
      author="John Doe"
      role="Web Developer"
      rating="3/5"
    />
    <!-- <Testimonial
      text="Pouzdanost njihovih usluga ključna je za naš uspjeh. Nikada se ne moramo brinuti o prekidima ili nesmetanom radu naših sustava i mreža. To nam omogućuje da se fokusiramo na svoje poslovanje i ostvarimo bolje rezultate."
      author="Jane Smith"
      role="Designer"
      rating="4/5"
    />
    <Testimonial
    text="Cijenimo personaliziranu podršku koju pružaju. S njima ne osjećamo se kao obični korisnici, već kao partneri. Njihova sposobnost da prilagode svoje usluge našim specifičnim potrebama čini ih neprocjenjivim članom našeg tima. Ova personalizacija olakšava suradnju i doprinosi našem dugoročnom uspjehu."
    author="Pero Perić"
    role="Designer"
    rating="5/5"
  /> -->

  </section>



  
    
 
  
</main>
 
