<!-- ---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class="text-gray-800" class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: rgb(61, 190, 72);

	}
	a:hover {
		color: rgb(61, 190, 72);
	}


	a.active {
		font-weight: bolder;
		text-decoration: underline;
		color: green;
	}
</style> -->
