---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="bg-gray-800 p-4 rounded-lg">
    <h3 class="text-white text-2xl font-semibold mb-4">SERVICES</h3>
    <a href="it" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block mb-2">IT</a>
    <a href="ict" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block mb-2">ICT</a>
    <a href="ciso" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block mb-2">CISO</a>
    <a href="ISO" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block mb-2">ISO</a>
    <a href="energetics" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block mb-2">Energetics</a>
    <a href="gdpr" class="text-white hover:text-blue-500 transition duration-300 ease-in-out block">GDPR</a>
</nav>
