---
import g5 from '../assets/developer.svg'
import { Image } from 'astro:assets';
--- 
<section class=" text-white py-20">
    <div class="container mx-auto flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl sm:text-4xl md:text-5xl lg:text-8xl font-extrabold leading-tight tracking-tight mb-6">
         
            <span class="block text-5xl  md:text-5xl lg:text-8xl font-extrabold leading-tight tracking-tight mb-6 bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-green-600">Projekti</span>
        </h1>
        <p class="text-lg md:text-xl mb-8 max-w-3xl text-gray-900 dark:text-gray-100">
        Krenite na putovanje kroz naše ostvarene projekte, od kojih je svaki dokaz naše predanosti i stručnosti.    
        </p>
        <!-- <a href="#portfolio" class="dark:bg-white bg-green-500 text-gray-900 rounded-full py-3 px-8 font-semibold transition duration-300 ease-in-out hover:bg-gray-100">
            Pogledajte projekte
        </a> -->
    </div>
</section>