---
import pvc from "../assets/pvsmartclick.svg";
import { Image } from "astro:assets";
import market from "../assets/market.png";
import pvc_sc from "../assets/PVC_SC.png";
import km_sc from "../assets/K-MARKET_SC.png";
---
<section class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24 ">
  <div class="text-center w-full ">
    <h1 class="text-3xl lg:text-6xl   md:text-5xl font-bold dark:text-white text-gray-700 relative">
     Samostalni projekti
  </h1>
  <div class="text-center mb-10">
    <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-40 h-1 rounded-full bg-green-500"></span>
    <span class="inline-block w-3 h-1 rounded-full bg-green-500 ml-1"></span>
    <span class="inline-block w-1 h-1 rounded-full bg-green-500 ml-1"></span>
  </div>
  </div>
<div class="flex flex-col lg:flex-row gap-10 ">
  <div class="flex flex-col justify-between">
      <!-- First project section -->
      <div class="w-full ">
          <Image src={pvc_sc}  alt="projekt screenshot" class="w-full object-cover min-h-full" />
      </div>

      <div class="w-full ">
          <div>
              <h2 class="text-2xl font-bold mt-4 lg:mt-0 dark:text-gray-100">PV Smart Click</h2>
              <a href="https://pvsmartclick.com" class="text-blue-500 text-base hover:text-blue-500 flex justify-left items-center gap-3" target="_blank">https://pvsmartclick.com  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="42" stroke-dashoffset="42" d="M11 5H5V19H19V13"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="42;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M13 11L20 4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.3s" values="12;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M21 3H15M21 3V9"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="8;0"/></path></g></svg></a>
              <p class="text-gray-700 dark:text-gray-100">Razvoj aplikacije za izračun iskoristivosti solarnih panela</p>

          </div>

          <div class="flex flex-col items-start mt-4 ">
            <div>
              <p class="dark:text-gray-100">Tehnologije</p>
          </div>
        <div class="flex gap-2 items-center justify-start ">
          <svg viewBox="0 0 128 128" class="w-8 h-8">
            <path fill="#E44D26" d="M19.037 113.876L9.032 1.661h109.936l-10.016 112.198-45.019 12.48z"></path><path fill="#F16529" d="M64 116.8l36.378-10.086 8.559-95.878H64z"></path><path fill="#EBEBEB" d="M64 52.455H45.788L44.53 38.361H64V24.599H29.489l.33 3.692 3.382 37.927H64zm0 35.743l-.061.017-15.327-4.14-.979-10.975H33.816l1.928 21.609 28.193 7.826.063-.017z"></path><path fill="#fff" d="M63.952 52.455v13.763h16.947l-1.597 17.849-15.35 4.143v14.319l28.215-7.82.207-2.325 3.234-36.233.335-3.696h-3.708zm0-27.856v13.762h33.244l.276-3.092.628-6.978.329-3.692z"></path>
            </svg>
          <svg viewBox="0 0 128 128" class="w-8 h-8">
            <path fill="#fff" d="M22.67 47h99.67v73.67H22.67z"></path><path data-name="original" fill="#007acc" d="M1.5 63.91v62.5h125v-125H1.5zm100.73-5a15.56 15.56 0 017.82 4.5 20.58 20.58 0 013 4c0 .16-5.4 3.81-8.69 5.85-.12.08-.6-.44-1.13-1.23a7.09 7.09 0 00-5.87-3.53c-3.79-.26-6.23 1.73-6.21 5a4.58 4.58 0 00.54 2.34c.83 1.73 2.38 2.76 7.24 4.86 8.95 3.85 12.78 6.39 15.16 10 2.66 4 3.25 10.46 1.45 15.24-2 5.2-6.9 8.73-13.83 9.9a38.32 38.32 0 01-9.52-.1 23 23 0 01-12.72-6.63c-1.15-1.27-3.39-4.58-3.25-4.82a9.34 9.34 0 011.15-.73L82 101l3.59-2.08.75 1.11a16.78 16.78 0 004.74 4.54c4 2.1 9.46 1.81 12.16-.62a5.43 5.43 0 00.69-6.92c-1-1.39-3-2.56-8.59-5-6.45-2.78-9.23-4.5-11.77-7.24a16.48 16.48 0 01-3.43-6.25 25 25 0 01-.22-8c1.33-6.23 6-10.58 12.82-11.87a31.66 31.66 0 019.49.26zm-29.34 5.24v5.12H56.66v46.23H45.15V69.26H28.88v-5a49.19 49.19 0 01.12-5.17C29.08 59 39 59 51 59h21.83z"></path>
            </svg>
            <svg class="w-8 h-8 fill-current text-gray-600" viewBox="0 0 128 128">
                  <path
                    fill="#B3B3B3"
                    d="M63.81 1.026L4.553 21.88l9.363 77.637 49.957 27.457 50.214-27.828 9.36-77.635z"
                  ></path><path
                    fill="#A6120D"
                    d="M117.536 25.998L63.672 7.629v112.785l45.141-24.983z"
                  ></path><path
                    fill="#DD1B16"
                    d="M11.201 26.329l8.026 69.434 44.444 24.651V7.627z"></path><path
                    fill="#F2F2F2"
                    d="M78.499 67.67l-14.827 6.934H48.044l-7.347 18.374-13.663.254 36.638-81.508L78.499 67.67zm-1.434-3.491L63.77 37.858 52.864 63.726h10.807l13.394.453z"
                  ></path><path
                    fill="#B3B3B3"
                    d="M63.671 11.724l.098 26.134 12.375 25.888H63.698l-.027 10.841 17.209.017 8.042 18.63 13.074.242z"
                  ></path>
                </svg>
                <svg viewBox="0 0 128 128" class="w-1/12">
                  <path
                    d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64zm0 0"
                    fill="#38b2ac"></path>
                </svg>
              </div>
          </div>
          <button class="bg-green-500 text-white px-3 py-1 mt-4 rounded-lg"> <a href="projects/pvsmartclick">Pogledaj više</a></button>
      </div>
  </div>

  <div class="flex flex-col justify-between">
    <!-- First project section -->
    <div class="w-full ">
          <Image src={km_sc} alt="projekt screenshot" class="w-full object-cover min-h-full" />
      </div>

      <div class="w-full ">
          <div>
              <h2 class="text-2xl font-bold mt-4 lg:mt-0 dark:text-gray-100">MARKE(t)</h2>
              <a href="https://demo.kaufland.digitalarena.hr/" class="text-blue-500 text-base block hover:text-blue-500" target="_blank">https://demo.kaufland.digitalarena.hr/</a>
              <p class="text-gray-700 dark:text-gray-100">Razvoj igrice K-MARKE(T) Kaufland.</p>
          </div>
        
          <div class="flex flex-col items-start mt-4">
            <div>
            <p class="dark:text-gray-100">Tehnologije</p>
          </div>
        <div class="flex">
          <svg viewBox="0 0 128 128" class="w-8 h-8">
            <path d="M39.267 108.97l-.284-.567c-.567-1.135-.567-2.27-.283-3.689H8.059L53.454 24.14l19.009 34.33 6.241-4.54L59.695 19.6c-.283-.567-2.553-3.971-6.241-3.971-1.703 0-4.256.567-6.242 4.255L1.25 101.31c-.284.852-2.27 4.54-.568 7.66 1.135 1.703 2.838 3.405 6.81 3.405h38.585c-3.972 0-5.958-1.702-6.81-3.404z" fill="#00c58e"></path><path d="M126.65 101.59L89.767 35.201c-.567-.567-2.553-4.256-6.242-4.256-1.702 0-4.255.851-6.241 4.256l-4.823 7.944v15.321l11.065-19.009 36.599 65.254h-13.902a6.525 6.525 0 01-.568 3.972l-.284.284c-1.702 3.12-5.958 3.404-6.525 3.404h21.562c.851 0 4.823-.283 6.809-3.404.851-1.419 1.419-3.972-.567-7.377z" fill="#108775"></path><path d="M106.51 108.97v-.284l.284-.567c.283-1.135.567-2.27.283-3.405l-1.134-3.404-28.938-50.501-4.256-7.66h-.284l-4.256 7.66-28.938 50.5-1.134 3.405a6.81 6.81 0 00.567 4.256c1.135 1.702 2.837 3.405 6.809 3.405h53.906c.851 0 5.107-.284 7.093-3.405zM72.464 58.469l26.386 46.245H46.079z" fill="#2f495e"></path>
            </svg>
            <svg class="w-8 h-8 fill-current text-gray-600" viewBox="0 0 128 128">
                  <path d="M0 8.934l49.854.158 14.167 24.47 14.432-24.47L128 8.935l-63.834 110.14zm126.98.637l-24.36.02-38.476 66.053L25.691 9.592.942 9.572l63.211 107.89zm-25.149-.008l-22.745.168-15.053 24.647L49.216 9.73l-22.794-.168 37.731 64.476zm-75.834-.17l23.002.009m-23.002-.01l23.002.01" fill="none"></path><path d="M25.997 9.393l23.002.009L64.035 34.36 79.018 9.404 102 9.398 64.15 75.053z" fill="#35495e"></path><path d="M.91 9.569l25.067-.172 38.15 65.659L101.98 9.401l25.11.026-62.966 108.06z" fill="#41b883"></path>
                  </svg>
                   <svg viewBox="0 0 128 128" class="w-1/12">
                      <path
                        d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64zm0 0"
                        fill="#38b2ac"></path>
                    </svg>
          </div>
          <button class="bg-green-500 text-white px-3 py-1 mt-4 rounded-lg"> <a href="projects/market">Pogledaj više</a></button>
      </div>
  </div>
</div>
</section>