---
import { Image } from "astro:assets";
const { text, author, role} = Astro.props
import img from '../assets/business2.jpg'


---

<div>
    <div class="flex flex-col gap-2">
      <h2 class="pt-5">{author}</h2>
      <Image src={img} alt={'random 1'} width={50}/>

   
 

    <p class="italic md:pr-20 text-justify">{text}</p>
  </div>
  </div> 


 
  