body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 30px;
    font-family: "Atkinson", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transition: opacity 1.5s;
    }
    100% {
      opacity: 1;
    }
  }
  
  .wrapper {
    font-family: "Atkinson", Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 100%;
    // background-image: url("../assets/background.svg"); /* Replace with your preferred image URL */

    max-width: 1100px;
    height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    // padding: 40px 25px;
    margin: 20px auto;
    border-radius: 10px;
    // background: #74ebd5;
    // background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
    // background: linear-gradient(to right, #27272A, #27272A);
    // box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
    // -webkit-box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
    // -moz-box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
  
    @media (min-width: 900px) {
      padding: 40px 0;
    }
  
    h2 {
      font-weight: bold;
  
      font-size: 4rem;
    }
  }
  
  .timeline {
    width: 120%;
    padding: 0 35px;
    margin-top: 70px;
  
    @media (min-width: 900px) {
      padding: 0;
      .timeline {
        width: 100%;
    }
  }
  
    ul {
      padding: 0px;
      height: 3px;
      background: rgb(223, 224, 222); // linija
      border-radius: 3px;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
  
      & li:first-child {
        a {
          align-items: start;
        }
      }
      & li:last-child {
        a {
          align-items: end;
        }
      }
    }
  
    ul li {
      list-style: none;
      cursor: pointer;
  
      a {
        text-decoration: none;
        text-align: center;
        
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: gray;  //godine
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
  
        @media (min-width: 900px) {
          font-size: 24px;
        }
  
        &::before {
          content: "";
          display: flex;
          width: 10px;
          height: 10px;
          background: white;
           border: 2px solid rgb(180, 231, 180);
          border-radius: 50%;
          margin-bottom: -36px;
          
        }
      }
  
      &.active a {
        color: #22C55E;
        
        &::before {
          background: rgb(180, 231, 180);
          color: #22C55E;
        }
      }
    }
  }
  
  .panel {
    display: flex;
  }
  
  .arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 30px;
  
    button {
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }
  
  .content {
    margin-top: 90px;
    width: 100%;
  
    .tab {
      display: none;
      // padding: 0px 20px;
      color: #22C55E; //slova dolje
      // height: 300px;
  
      @media (min-width: 900px) {
        // padding: 0px 120px;
      }
  
      &.selected {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        animation: 1s ease-out 0s 1 fadeIn;
      }
  
      h4 {
        font-family: 'Atkinson', sans-serif;
        font-size: 5;
      }
  
      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
      }
    }
  }
  