<body>
  <div class="flex flex-col lg:flex-row justify-center items-center">
    <div class="relative lg:w-1/2">
      <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa nam eum saepe nemo hic quasi at totam, ad molestiae modi dolor laudantium doloribus vel expedita, sequi, ut magnam nisi quos quae ea error officia? Neque velit architecto unde, dolorem, vitae dolorum illum esse ab corrupti quam saepe nulla, accusamus distinctio?</p>
       

      <div class="absolute top-0  w-72 h-72 bg-green-300 rounded-full opacity-30 filter blur-xl"></div>
    </div>
      <div class="w-full lg:w-1/2 mx-auto py-8">
        <div class="relative">
          <div class="border-r-2 border-green-600  absolute h-full top-0 z-0" style="left: 15px"></div>
          <ul class="list-none m-0 p-0">
            <li class="mb-6">
              <div class="flex items-center mb-2">
                <div class="bg-green-600 rounded-full h-8 w-8 flex items-center justify-center text-white font-semibold z-10">
                  
                </div>
                <div class="flex-1 ml-4 font-semibold text-lg z-10">Step 1</div>
              </div>
              <div class="ml-16 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </li>
            <li class="mb-6">
              <div class="flex items-center mb-2">
                <div class="bg-green-600  rounded-full h-8 w-8 flex items-center justify-center text-white font-semibold z-10">
                  
                </div>
                <div class="flex-1 ml-4 font-semibold text-lg">Step 2</div>
              </div>
              <div class="ml-16 text-gray-700">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </li>
            <li class="mb-6">
              <div class="flex items-center mb-2">
                <div class="bg-green-600  rounded-full h-8 w-8 flex items-center justify-center text-white font-semibold">
                  
                </div>
                <div class="flex-1 ml-4 font-semibold text-lg z-20">Step 3</div>
              </div>
              <div class="ml-16 text-gray-700">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
            </li>
            <li class="mb-6">
              <div class="flex items-center mb-2">
                <div class="bg-green-600  rounded-full h-8 w-8 flex items-center justify-center text-white font-semibold">
                  
                </div>
                <div class="flex-1 ml-4 font-semibold text-lg">Step 4</div>
              </div>
              <div class="ml-16 text-gray-700">Duis aute irure dolor in reprehenderit in voluptate velit esse.</div>
            </li>
          </ul>
        </div>
      </div>
      