body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 30px;
    font-family: "Atkinson", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transition: opacity 1.5s;
    }
    100% {
      opacity: 1;
    }
  }
  
  .wrapper {
    font-family: "Atkinson", Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 100%;
    // background-image: url("../assets/background.svg"); /* Replace with your preferred image URL */

    max-width: 1100px;
    height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 40px 25px;
    margin: 20px auto;
    border-radius: 10px;
    // background: #74ebd5;
    // background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
    // background: linear-gradient(to right, #27272A, #27272A);
    // box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
    // -webkit-box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
    // -moz-box-shadow: 3px 4px 14px -5px rgba(0, 0, 0, 0.42);
  
    @media (min-width: 900px) {
      padding: 40px 0;
    }
  
    h2 {
      font-weight: bold;
  
      font-size: 24px;
    }
  }
  
  .timeline {
    width: 90%;
    margin-top: 70px;
  
    ul {
      padding: 0px;
      height: 3px;
      background: black;
      border-radius: 3px;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
  
      li {
        list-style: none;
        cursor: pointer;
  
        a {
          text-decoration: none;
          text-align: center;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          color: #27272A;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          position: relative; /* Add this line for positioning the icon */
  
          i {
            font-size: 50px;

            /* Position the icon */
            position: absolute;
            top: -50px; /* Adjust the vertical position of the icon */
            left: 50%; /* Center the icon horizontally */
            transform: translateX(-50%); /* Center the icon horizontally */
            
            /* Create a gradient background */
            background: linear-gradient(to right, green, #a5c58b);
            -webkit-background-clip: text; /* Clip the gradient to the text */
            color: transparent; /* Hide the original text color */
          }
        }
  
        &.active a {
          &::before {
            margin-top: 10px;
            background: green;
          }
        }
      }
    }
  }
  .panel {
    display: flex;
  }
  .icon-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .icon-list li {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .icon-list .active {
    /* Style for the active year with an icon */
    color: red; /* Change the color for the active item */
  }
  
  .icon-list li.active {
    /* Style for the active year with an icon */
    color: red; /* Change the color for the active item */
  }
  
  .arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 30px;
  
    button {
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }
  
  .content {
    margin-top: 90px;
    width: 100%;
  
    .tab {
      display: none;
      padding: 0px 20px;
      color: #22C55E; //slova dolje
      height: 300px;
  
      @media (min-width: 900px) {
        padding: 0px 120px;
      }
  
      &.selected {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        animation: 1s ease-out 0s 1 fadeIn;
      }
  
      h4 {
        font-family: 'Atkinson', sans-serif;
        font-size: 20;
      }
  
      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
      }
    }
  }
  