---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import logo from '../assets/body-bg.svg'



import { ViewTransitions } from 'astro:transitions';
import { Image } from 'astro:assets';

import { Breadcrumbs } from "astro-breadcrumbs";

import 'astro-breadcrumbs/breadcrumbs.css';



---

<!doctype html>

<html lang="en"
x-data="{darkMode: localStorage.getItem('darkMode')}"
x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
x-bind:data-theme="darkMode">
	<head >
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

	</head>
	<body transition:animate="fade" class="m-0 p-0 bg-gray-100 dark:bg-gray-900"  transition:persist>
		<Header  />
		<button
		class="flex mx-auto capitalize justify-center items-center text-green-700 font-bold
		   border-4 py-2 rounded-full px-5 my-5"
	  >
			<Breadcrumbs class="" >
		
				<svg
				slot="index"
				aria-label="Home Page"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
				</path><polyline points="9 22 9 12 15 12 15 22"></polyline>
					  </svg>
			  
			  </Breadcrumbs>
			</button>
        <main class="container main-bg"  transition:animate="fade">
        
        
            <slot />
          </main>
	
	
		<Footer />
		<script src="https://smtpjs.com/v3/smtp.js">
		</script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<script is:inline src="/script.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</body>
</html>
<style>
    .main-bg {
  /* background-image: url('../assets/body-bg.svg'); */
}
</style>