---
import { ViewTransitions } from 'astro:transitions';
import { getLangFromUrl } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';


const lang = getLangFromUrl(Astro.url);
import { fade } from 'astro:transitions';
interface Props {
	title: string;
}


const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import FooterJs from '../components/FooterJs';
---

<!doctype html>
<html lang={lang}>
	<head>
		<ViewTransitions />
		
		<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../assets/daicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" ">
		<main transition:animate="initial" />
		<Navbar />
		
	

			<slot />
		</main>
		<Footer/>
		
	</body>
</html>
<style is:global>
	
			@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
		
	:root {
		
	}
	html {
		font-family:'Dosis', sans-serif;
	
	}

	body {
		background:white;
	}

	code {

		font-family:
		Dosis,
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
